PQL — Main v5.2.json
{
  "name": "PQL \u2014 Main v5.2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst out = {};\nfor (const k of Object.keys(d)) { if (k !== '_route') out[k] = d[k]; }\nreturn [{ json: out }];"
      },
      "id": "48441a29-ffb2-4678-98f1-5a7ac5f08143",
      "name": "Respond Direct",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16256,
        11728
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sync Finalize \u2014 receives AI classification output, updates state, returns structured result\nconst fs = require('fs');\nconst pathMod = require('path');\n\n// \u2500\u2500\u2500 Filesystem helpers (same paths as PQL Engine) \u2500\u2500\u2500\nlet PQL_DIR = '/tmp/pql';\nconst PQL_CANDIDATES = ['/home/node/.n8n/pql', '/root/.n8n/pql', '/data/pql'];\nfor (const candidate of PQL_CANDIDATES) {\n  try {\n    const parent = candidate.substring(0, candidate.lastIndexOf('/'));\n    if (!fs.existsSync(parent)) continue;\n    if (fs.existsSync(candidate)) { PQL_DIR = candidate; break; }\n  } catch (e) { /* skip */ }\n}\n\nfunction kvPath(key) {\n  const STATIC = {\n    'pql:library:epics_json':   'library/epics.json',\n    'pql:state:state_json':     'state/state.json',\n    'pql:inbox:scratchpad_md':  'inbox/scratchpad.md',\n    'pql:sync:pending_context': 'state/sync_pending.json',\n  };\n  if (STATIC[key]) return pathMod.join(PQL_DIR, STATIC[key]);\n  return pathMod.join(PQL_DIR, '_misc', key.replace(/:/g, '_') + '.json');\n}\nfunction readKV(key) {\n  const p = kvPath(key); if (!fs.existsSync(p)) return null;\n  const raw = fs.readFileSync(p, 'utf8');\n  try { return JSON.parse(raw); } catch { return raw; }\n}\nfunction writeKV(key, data) {\n  const p = kvPath(key);\n  const dir = pathMod.dirname(p);\n  if (!fs.existsSync(dir)) fs.mkdirSync(dir, { recursive: true });\n  fs.writeFileSync(p, typeof data === 'string' ? data : JSON.stringify(data, null, 2), 'utf8');\n}\n\n// \u2500\u2500\u2500 Parse AI response \u2500\u2500\u2500\nconst aiOutput = $input.first().json;\nconst aiText = (aiOutput.text || aiOutput.output || '').trim();\n\nconst pendingCtx = readKV('pql:sync:pending_context') || {};\nconst state = readKV('pql:state:state_json');\nconst epics = readKV('pql:library:epics_json');\nconst dateStr = (pendingCtx.date || new Date().toISOString().slice(0, 10));\nconst isoNow = (pendingCtx.iso_now || new Date().toISOString());\n\nif (!state || !epics) {\n  return [{ json: { status: 'error', cmd: 'sync', message: 'No state or epics data. Run /seed first.' } }];\n}\n\n// Extract JSON from AI response (handle markdown fences)\nlet parsed = null;\ntry {\n  let jsonStr = aiText;\n  // Remove markdown code fences if present\n  const fenceMatch = jsonStr.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n  if (fenceMatch) jsonStr = fenceMatch[1].trim();\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  // Try to find JSON object in the text\n  const braceStart = aiText.indexOf('{');\n  const braceEnd = aiText.lastIndexOf('}');\n  if (braceStart >= 0 && braceEnd > braceStart) {\n    try {\n      parsed = JSON.parse(aiText.slice(braceStart, braceEnd + 1));\n    } catch (e2) {\n      return [{ json: { status: 'error', cmd: 'sync', phase: 'ai_classified', message: 'Could not parse AI classification output. Raw: ' + aiText.slice(0, 500) } }];\n    }\n  } else {\n    return [{ json: { status: 'error', cmd: 'sync', phase: 'ai_classified', message: 'AI returned no parseable JSON. Raw: ' + aiText.slice(0, 500) } }];\n  }\n}\n\nconst rawClassifications = parsed.classifications || [];\nlet clusters = parsed.clusters || [];\n\n// \u2500\u2500\u2500 VALIDATION: Filter out hallucinated items that don't match actual input \u2500\u2500\u2500\n// Use word-overlap scoring to catch blatant hallucinations while allowing AI rephrasing.\nconst actualInputs = (pendingCtx.new_lines || []).map(l => l.toLowerCase().trim());\nconst allInputWords = new Set();\nconst stopWords = new Set(['the','a','an','and','or','but','in','on','at','to','for','of','with','by','from','i','we','my','our','also','need','want','have','get','do','make','is','it','this','that']);\nfor (const inp of actualInputs) {\n  for (const w of inp.split(/\\s+/)) {\n    const clean = w.replace(/[^a-z0-9]/g, '');\n    if (clean.length >= 3 && !stopWords.has(clean)) allInputWords.add(clean);\n  }\n}\n\nfunction wordOverlap(text) {\n  if (!text) return 0;\n  const words = text.toLowerCase().split(/\\s+/).map(w => w.replace(/[^a-z0-9]/g, '')).filter(w => w.length >= 3 && !stopWords.has(w));\n  if (words.length === 0) return 0;\n  const matches = words.filter(w => allInputWords.has(w)).length;\n  return matches / words.length;\n}\n\nconst classifications = rawClassifications.filter(c => {\n  const origText = (c.original_text || '').toLowerCase().trim();\n  const itemText = (c.item_text || '').toLowerCase().trim();\n  // Accept if original_text substring-matches any actual input\n  if (actualInputs.some(inp => inp === origText || inp.includes(origText) || origText.includes(inp))) return true;\n  // Accept if item_text substring-matches any actual input (for split items)\n  if (actualInputs.some(inp => inp.includes(itemText) || itemText.includes(inp))) return true;\n  // Accept if significant word overlap exists (handles AI rephrasing)\n  if (wordOverlap(origText) >= 0.25 || wordOverlap(itemText) >= 0.25) return true;\n  // Reject \u2014 no meaningful connection to actual input\n  return false;\n});\n\n// Filter cluster items: use same word-overlap approach\nclusters = clusters.filter(cl => {\n  cl.items = (cl.items || []).filter(it => {\n    const t = (it.item_text || it.suggested_title || '').toLowerCase().trim();\n    if (actualInputs.some(inp => inp.includes(t) || t.includes(inp))) return true;\n    if (wordOverlap(t) >= 0.25) return true;\n    return false;\n  });\n  return cl.items.length > 0;\n});\n\n// \u2500\u2500\u2500 FIX 3: Build available_epics for epic <select> dropdowns \u2500\u2500\u2500\nconst available_epics = (epics.epics || []).map(e => {\n  const openCount = e.artifacts.filter(a => {\n    const as = (state.artifacts_status[a.artifact_id] || {}).status || 'unknown';\n    return as === 'open' || as === 'committed';\n  }).length;\n  return { epic_id: e.epic_id, title: e.title, open_count: openCount };\n});\n\n// \u2500\u2500\u2500 ZERO-RESULT FALLBACK: If all AI output was hallucinated, create basic classifications \u2500\u2500\u2500\nif (classifications.length === 0 && (pendingCtx.new_lines || []).length > 0) {\n  const rawLines = pendingCtx.new_lines || [];\n  // Split compound inputs and create portfolio classifications\n  for (const line of rawLines) {\n    // Split on common delimiters\n    const parts = line.split(/,\\s*(?:also\\s+)?|;\\s*|\\s+and\\s+(?=\\w)/).map(p => p.trim()).filter(p => p.length > 3);\n    for (const part of parts) {\n      // Auto-capitalize first letter for title\n      const title = part.charAt(0).toUpperCase() + part.slice(1);\n      classifications.push({\n        original_text: line,\n        item_text: part,\n        lane: 'portfolio',\n        confidence: 0.5,\n        portfolio_action: 'new_epic',\n        epic_id: null,\n        artifact_id: null,\n        suggested_title: title,\n        suggested_epic_title: title,\n        suggested_type: 'small',\n        suggested_xp: 3,\n        reasoning: 'Auto-classified (AI output was invalid)'\n      });\n    }\n  }\n}\n\n// Categorize items\nconst ops_admin_items = [];\nconst mastery_items = [];\nconst portfolio_mapped = [];\nconst pending_confirmations = [];\nconst cluster_confirmations = [];\n\nlet opsCount = 0, masteryCount = 0, portfolioExisting = 0, portfolioNewArt = 0, portfolioNewEpic = 0;\n\nfor (const c of classifications) {\n  const item = {\n    text: c.item_text || c.original_text || '',\n    original_text: c.original_text || c.item_text || '',\n    lane: c.lane || 'portfolio',\n    confidence: c.confidence || 0.5,\n    captured_at: isoNow,\n    classified_at: isoNow,\n    reasoning: c.reasoning || ''\n  };\n\n  if (c.lane === 'ops_admin') {\n    opsCount++;\n    ops_admin_items.push(item);\n    if (!state.ops_log) state.ops_log = [];\n    state.ops_log.push({ text: item.text, date: dateStr, status: 'open' });\n  } else if (c.lane === 'mastery') {\n    masteryCount++;\n    mastery_items.push(item);\n    if (!state.mastery_log) state.mastery_log = [];\n    state.mastery_log.push({ text: item.text, date: dateStr, status: 'open' });\n  } else {\n    // Portfolio\n    if (c.portfolio_action === 'existing_artifact' && c.artifact_id) {\n      portfolioExisting++;\n      portfolio_mapped.push({ text: item.text, artifact_id: c.artifact_id, epic_id: c.epic_id || '' });\n      // Update last_touched\n      if (state.artifacts_status[c.artifact_id]) {\n        state.artifacts_status[c.artifact_id].last_touched = dateStr;\n      }\n      // \u2500\u2500\u2500 FIX 2 (existing matches): Add to pending_confirmations with action_to_confirm \u2500\u2500\u2500\n      let artTitle = c.artifact_id;\n      for (const ep of (epics.epics || [])) {\n        const art = ep.artifacts.find(a => a.artifact_id === c.artifact_id);\n        if (art) { artTitle = art.title; break; }\n      }\n      pending_confirmations.push({\n        text: item.text,\n        mode: 'existing_match',\n        matched_epic_id: c.epic_id || '',\n        matched_artifact_id: c.artifact_id,\n        matched_title: artTitle,\n        suggestion: 'Existing artifact: ' + artTitle + ' (' + (c.epic_id || '???') + ')',\n        reasoning: c.reasoning || '',\n        action_to_confirm: {\n          cmd: 'sync',\n          mappings: [{\n            text: item.text,\n            action: 'accept_existing',\n            artifact_id: c.artifact_id,\n            epic_id: c.epic_id || ''\n          }]\n        }\n      });\n    } else {\n      // New artifact or new epic \u2014 needs confirmation\n      if (c.portfolio_action === 'new_epic') portfolioNewEpic++;\n      else portfolioNewArt++;\n\n      // \u2500\u2500\u2500 FIX 2: Build action_to_confirm for each pending item \u2500\u2500\u2500\n      const pendingItem = {\n        text: item.text,\n        suggestion: c.portfolio_action === 'new_epic'\n          ? 'New epic: ' + (c.suggested_epic_title || c.suggested_title || item.text)\n          : 'New artifact in ' + (c.epic_id || '???') + ': ' + (c.suggested_title || item.text) + ' (' + (c.suggested_type || 'small') + ', ' + (c.suggested_xp || 3) + ' XP)',\n        portfolio_action: c.portfolio_action,\n        epic_id: c.epic_id || null,\n        suggested_title: c.suggested_title || item.text,\n        suggested_epic_title: c.suggested_epic_title || null,\n        suggested_type: c.suggested_type || 'small',\n        suggested_xp: c.suggested_xp || 3,\n        mode: c.portfolio_action === 'new_epic' ? 'new_epic' : 'new_artifact'\n      };\n\n      if (c.portfolio_action === 'new_epic') {\n        pendingItem.action_to_confirm = {\n          cmd: 'sync',\n          mappings: [{\n            text: item.text,\n            action: 'create_epic',\n            suggested_title: c.suggested_title || item.text,\n            suggested_epic_title: c.suggested_epic_title || c.suggested_title || item.text,\n            suggested_type: c.suggested_type || 'small',\n            suggested_xp: c.suggested_xp || 3\n          }]\n        };\n      } else {\n        pendingItem.action_to_confirm = {\n          cmd: 'sync',\n          mappings: [{\n            text: item.text,\n            action: 'create_artifact',\n            epic_id: c.epic_id || null,\n            suggested_title: c.suggested_title || item.text,\n            suggested_type: c.suggested_type || 'small',\n            suggested_xp: c.suggested_xp || 3\n          }]\n        };\n      }\n\n      pending_confirmations.push(pendingItem);\n    }\n  }\n\n  // Add to inbox_items in state\n  if (!state.inbox_items) state.inbox_items = [];\n  state.inbox_items.push(item);\n}\n\n// \u2500\u2500\u2500 FALLBACK: Auto-generate clusters if AI didn't produce them \u2500\u2500\u2500\n// If there are new_epic or new_artifact items in pending_confirmations but no clusters,\n// group them into clusters so the user sees proper cluster cards with accept buttons.\nif (clusters.length === 0) {\n  // Group pending items by suggested_epic_title or by new_epic/new_artifact\n  const newEpicItems = pending_confirmations.filter(p => p.mode === 'new_epic');\n  const newArtItems = pending_confirmations.filter(p => p.mode === 'new_artifact');\n  \n  // Group new_epic items by suggested_epic_title\n  const epicGroups = {};\n  for (const p of newEpicItems) {\n    const key = p.suggested_epic_title || p.suggested_title || 'Untitled';\n    if (!epicGroups[key]) epicGroups[key] = [];\n    epicGroups[key].push(p);\n  }\n  \n  let clusterIdx = 1;\n  for (const [epicTitle, items] of Object.entries(epicGroups)) {\n    clusters.push({\n      cluster_id: 'C' + clusterIdx,\n      suggested_epic_title: epicTitle,\n      action: 'new_epic',\n      epic_id: null,\n      reasoning: 'Auto-grouped: ' + items.length + ' item(s) suggesting new epic \"' + epicTitle + '\"',\n      items: items.map(it => ({\n        item_text: it.text,\n        suggested_title: it.suggested_title || it.text,\n        suggested_type: it.suggested_type || 'small',\n        suggested_xp: it.suggested_xp || 3\n      })),\n      suggested_artifacts: []\n    });\n    clusterIdx++;\n  }\n  \n  // Also create single-item clusters for new_artifact items without a cluster\n  for (const p of newArtItems) {\n    if (!p.epic_id) {\n      clusters.push({\n        cluster_id: 'C' + clusterIdx,\n        suggested_epic_title: p.suggested_title || p.text,\n        action: 'new_epic',\n        epic_id: null,\n        reasoning: 'Auto-created: unclustered new artifact',\n        items: [{\n          item_text: p.text,\n          suggested_title: p.suggested_title || p.text,\n          suggested_type: p.suggested_type || 'small',\n          suggested_xp: p.suggested_xp || 3\n        }],\n        suggested_artifacts: []\n      });\n      clusterIdx++;\n    }\n  }\n}\n\n// Process clusters\nfor (const cl of clusters) {\n  const clusterItems = (cl.items || []).map(it => ({\n    item_text: it.item_text || it.suggested_title || '',\n    suggested_title: it.suggested_title || it.item_text || '',\n    suggested_type: it.suggested_type || 'small',\n    suggested_xp: it.suggested_xp || 3\n  }));\n  const totalXP = clusterItems.reduce((sum, it) => sum + (it.suggested_xp || 3), 0);\n\n  // \u2500\u2500\u2500 FIX 1: Build accept_payload for cluster confirmation \u2500\u2500\u2500\n  // Process suggested_artifacts for new epics (Feature 3: auto-suggest)\n  const suggestedArtifacts = (cl.suggested_artifacts || []).map(sa => ({\n    suggested_title: sa.suggested_title || '',\n    suggested_type: sa.suggested_type || 'small',\n    suggested_xp: sa.suggested_xp || 3,\n    rationale: sa.rationale || ''\n  }));\n\n  // Build the accept mappings from cluster items\n  const acceptMappings = clusterItems.map(it => ({\n    text: it.item_text || it.suggested_title,\n    action: 'create_epic_batch',\n    epic_id: cl.epic_id || null,\n    suggested_epic_title: cl.suggested_epic_title || 'Untitled Cluster',\n    suggested_title: it.suggested_title,\n    suggested_type: it.suggested_type || 'small',\n    suggested_xp: it.suggested_xp || 3\n  }));\n\n  const accept_payload = {\n    cmd: 'sync',\n    mappings: acceptMappings\n  };\n\n  // Build accept_with_suggestions payload (includes AI-suggested artifacts)\n  const acceptWithSuggestionsPayload = {\n    cmd: 'sync',\n    mappings: [\n      ...acceptMappings,\n      ...suggestedArtifacts.map(sa => ({\n        text: sa.suggested_title,\n        action: 'create_epic_batch',\n        epic_id: cl.epic_id || null,\n        suggested_epic_title: cl.suggested_epic_title || 'Untitled Cluster',\n        suggested_title: sa.suggested_title,\n        suggested_type: sa.suggested_type || 'small',\n        suggested_xp: sa.suggested_xp || 3\n      }))\n    ]\n  };\n\n  cluster_confirmations.push({\n    cluster_id: cl.cluster_id || 'C?',\n    suggested_epic_title: cl.suggested_epic_title || 'Untitled Cluster',\n    action: cl.action || 'new_epic',\n    epic_id: cl.epic_id || null,\n    reasoning: cl.reasoning || '',\n    items: clusterItems,\n    total_xp: totalXP,\n    suggested_artifacts: suggestedArtifacts,\n    accept_payload,\n    accept_with_suggestions_payload: suggestedArtifacts.length > 0 ? acceptWithSuggestionsPayload : null\n  });\n}\n\n// Save updated state\nwriteKV('pql:state:state_json', state);\n\nconst summary = {\n  total_items: classifications.length,\n  ops_admin: opsCount,\n  mastery: masteryCount,\n  portfolio_existing: portfolioExisting,\n  portfolio_new_artifact: portfolioNewArt,\n  portfolio_new_epic: portfolioNewEpic,\n  clusters_found: clusters.length > 0 ? clusters.length : 0\n};\n\nreturn [{ json: {\n  status: 'ok',\n  cmd: 'sync',\n  phase: 'ai_classified',\n  date: dateStr,\n  summary,\n  available_epics,\n  ops_admin_items,\n  mastery_items,\n  portfolio_mapped,\n  pending_confirmations,\n  cluster_confirmations\n} }];\n"
      },
      "id": "75ee685e-42e2-4792-a1be-cb5cf2069641",
      "name": "Sync Finalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16000,
        11344
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Qwen/Qwen3-Next-80B-A3B-Instruct",
          "mode": "list",
          "cachedResultName": "Qwen/Qwen3-Next-80B-A3B-Instruct"
        },
        "options": {
          "maxTokens": 8192,
          "temperature": 0.1
        }
      },
      "id": "4bde8b83-1087-4f2c-a3ba-93135b46e638",
      "name": "Qwen3 Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16240,
        11552
      ],
      "credentials": {
        "openAiApi": {
          "id": "tr81KStYwC11AqfS",
          "name": "OpenAi account 24"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "id": "97df0d9b-041b-4b61-bd8b-5c3e6937fa55",
      "name": "AI Classify",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -16240,
        11344
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f8043ffd-b41e-4b18-8027-dcf14ee7c51e",
              "leftValue": "={{ $json._route }}",
              "rightValue": "ai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f553367f-a422-45ae-9312-0ed66b439850",
      "name": "Route",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16480,
        11456
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst pathMod = require('path');\n\nconst _raw = $input.first().json; const body = (typeof _raw.body === 'object' && _raw.body !== null && (_raw.body.cmd || _raw.body.action)) ? _raw.body : _raw;\nconst cmd = (body.cmd || 'unknown').toLowerCase().trim();\nconst free_text = body.free_text || '';\nconst now = new Date();\nconst isoNow = now.toISOString();\nconst dateStr = isoNow.slice(0, 10);\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// FILESYSTEM \u2014 Clean folder layout for browsing\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nlet PQL_DIR = '/tmp/pql';\nconst PQL_CANDIDATES = ['/home/node/.n8n/pql', '/root/.n8n/pql', '/data/pql'];\nfor (const candidate of PQL_CANDIDATES) {\n  try {\n    const parent = candidate.substring(0, candidate.lastIndexOf('/'));\n    if (!fs.existsSync(parent)) continue;\n    if (!fs.existsSync(candidate)) fs.mkdirSync(candidate, { recursive: true });\n    const testFile = candidate + '/_writetest';\n    fs.writeFileSync(testFile, 'ok', 'utf8');\n    const readBack = fs.readFileSync(testFile, 'utf8');\n    fs.unlinkSync(testFile);\n    if (readBack === 'ok') { PQL_DIR = candidate; break; }\n  } catch (e) { /* not writable, try next */ }\n}\nconst BACKUP_DIR = pathMod.join(PQL_DIR, '_backups');\nfunction ensureDir(d) { if (!fs.existsSync(d)) fs.mkdirSync(d, { recursive: true }); }\n\nfunction kvPath(key) {\n  const STATIC = {\n    'pql:library:epics_json':   'library/epics.json',\n    'pql:state:state_json':     'state/state.json',\n    'pql:inbox:scratchpad_md':  'inbox/scratchpad.md',\n    'pql:sync:pending_context': 'state/sync_pending.json',\n  };\n  if (STATIC[key]) return pathMod.join(PQL_DIR, STATIC[key]);\n  if (key.startsWith('pql:plans:weeks:')) return pathMod.join(PQL_DIR, 'plans', 'weeks', key.slice(16) + '.json');\n  if (key.startsWith('pql:logs:daily:'))  return pathMod.join(PQL_DIR, 'logs',  'daily', key.slice(15) + '.json');\n  if (key.startsWith('pql:outputs:status_email:')) return pathMod.join(PQL_DIR, 'outputs', 'status_email_' + key.slice(25) + '.json');\n  return pathMod.join(PQL_DIR, '_misc', key.replace(/:/g, '_') + '.json');\n}\n\nfunction readKV(key) {\n  const p = kvPath(key); if (!fs.existsSync(p)) return null;\n  const raw = fs.readFileSync(p, 'utf8');\n  try { return JSON.parse(raw); } catch { return raw; }\n}\n\nfunction writeKV(key, data) {\n  const p = kvPath(key);\n  const dir = pathMod.dirname(p);\n  ensureDir(dir);\n  if (fs.existsSync(p)) {\n    ensureDir(BACKUP_DIR);\n    const ext = pathMod.extname(p);\n    const base = pathMod.basename(p, ext);\n    fs.copyFileSync(p, pathMod.join(BACKUP_DIR, base + '_' + Date.now().toString(36) + ext));\n  }\n  fs.writeFileSync(p, typeof data === 'string' ? data : JSON.stringify(data, null, 2), 'utf8');\n}\n\nfunction listKVKeys() {\n  const keys = [];\n  const walk = (dir, prefix) => {\n    if (!fs.existsSync(dir)) return;\n    for (const f of fs.readdirSync(dir, { withFileTypes: true })) {\n      if (f.name.startsWith('_')) continue;\n      const full = pathMod.join(dir, f.name);\n      if (f.isDirectory()) walk(full, prefix + f.name + '/');\n      else keys.push(prefix + f.name);\n    }\n  };\n  walk(PQL_DIR, '');\n  return keys;\n}\n\n(function migrateOldKV() {\n  const oldMarker = pathMod.join(PQL_DIR, '_migrated_v5');\n  if (fs.existsSync(oldMarker)) return;\n  const OLD_MAP = {\n    'pql__library__epics_json.json':        'pql:library:epics_json',\n    'pql__state__state_json.json':          'pql:state:state_json',\n    'pql__inbox__scratchpad_md.json':       'pql:inbox:scratchpad_md',\n    'pql__sync__pending_context.json':      'pql:sync:pending_context',\n  };\n  let migrated = 0;\n  for (const [oldFile, key] of Object.entries(OLD_MAP)) {\n    const oldPath = pathMod.join(PQL_DIR, oldFile);\n    if (fs.existsSync(oldPath)) {\n      const newPath = kvPath(key);\n      ensureDir(pathMod.dirname(newPath));\n      fs.copyFileSync(oldPath, newPath);\n      migrated++;\n    }\n  }\n  if (fs.existsSync(PQL_DIR)) {\n    for (const f of fs.readdirSync(PQL_DIR)) {\n      if (!f.endsWith('.json') || !f.startsWith('pql__')) continue;\n      const oldKey = f.replace('.json', '').replace(/__/g, ':');\n      if (OLD_MAP[f]) continue;\n      const oldPath = pathMod.join(PQL_DIR, f);\n      const newPath = kvPath(oldKey);\n      if (newPath !== oldPath) {\n        ensureDir(pathMod.dirname(newPath));\n        fs.copyFileSync(oldPath, newPath);\n        migrated++;\n      }\n    }\n  }\n  if (migrated > 0) {\n    try { fs.writeFileSync(oldMarker, 'migrated ' + migrated + ' files at ' + new Date().toISOString(), 'utf8'); } catch {}\n  }\n})();\nfunction getWeekId(d) {\n  const dt = new Date(d); dt.setHours(0,0,0,0);\n  const thu = new Date(dt); thu.setDate(dt.getDate() + 3 - ((dt.getDay()+6)%7));\n  const ys = new Date(thu.getFullYear(),0,1);\n  return thu.getFullYear() + '-W' + String(Math.ceil((((thu-ys)/86400000)+1)/7)).padStart(2,'0');\n}\nfunction buildArtLookup(epics) {\n  const m = {};\n  if (epics && epics.epics) { for (const e of epics.epics) { for (const a of e.artifacts) { m[a.artifact_id] = { title: a.title, xp: a.xp, type: a.type, epic_id: e.epic_id, epic_title: e.title, milestone_id: a.milestone_id }; } } }\n  return m;\n}\nconst weekId = getWeekId(now);\n\nfunction checkEpicCompletion(state, epics, epicId, dateStr) {\n  const epic = epics.epics.find(e => e.epic_id === epicId);\n  if (!epic) return null;\n  if (state.epics_status[epicId] === 'completed') return null;\n  const nonBonusArts = epic.artifacts.filter(a => a.type !== 'bonus');\n  if (nonBonusArts.length === 0) return null;\n  const allShipped = nonBonusArts.every(a => {\n    const st = state.artifacts_status[a.artifact_id];\n    return st && st.status === 'shipped';\n  });\n  if (!allShipped) return null;\n  const bonusArtId = epicId + '-BONUS';\n  if (state.artifacts_status[bonusArtId]) return null;\n  const bonusArt = {\n    artifact_id: bonusArtId,\n    title: epic.title + ' \u2014 Epic Complete!',\n    xp: 5,\n    type: 'bonus',\n    milestone_id: epic.milestones.length > 0\n      ? epic.milestones[epic.milestones.length - 1].milestone_id\n      : epicId + '-M1',\n    default_status: 'shipped'\n  };\n  epic.artifacts.push(bonusArt);\n  if (epic.milestones.length > 0) {\n    const lastMs = epic.milestones[epic.milestones.length - 1];\n    if (!lastMs.artifacts.includes(bonusArtId)) lastMs.artifacts.push(bonusArtId);\n  }\n  state.artifacts_status[bonusArtId] = {\n    epic_id: epicId,\n    status: 'shipped',\n    last_touched: dateStr,\n    shipped_dates: [dateStr],\n    dependency: { exists: false, waiting_on: '', ping_date: '', notes: '' }\n  };\n  state.epics_status[epicId] = 'completed';\n  const entry = {\n    date: dateStr,\n    artifact_id: bonusArtId,\n    epic_id: epicId,\n    xp: 5,\n    note: 'EPIC COMPLETE: ' + epic.title\n  };\n  state.xp_ledger.push(entry);\n  return { bonusArtId, epic_title: epic.title, xp: 5, entry };\n}\n\nfunction checkAllEpicCompletions(state, epics, shippedEpicIds, dateStr) {\n  const bonuses = [];\n  const uniqueEpicIds = [...new Set(shippedEpicIds)];\n  for (const eid of uniqueEpicIds) {\n    const bonus = checkEpicCompletion(state, epics, eid, dateStr);\n    if (bonus) bonuses.push(bonus);\n  }\n  return bonuses;\n}\n\nfunction computePace(state) {\n  const ledger = state.xp_ledger || [];\n  const weeklyXP = {};\n  const weekShipDays = {};\n  for (const entry of ledger) {\n    const wk = getWeekId(new Date(entry.date));\n    weeklyXP[wk] = (weeklyXP[wk] || 0) + entry.xp;\n    if (!weekShipDays[wk]) weekShipDays[wk] = new Set();\n    weekShipDays[wk].add(entry.date);\n  }\n  const thisWeekXP = weeklyXP[weekId] || 0;\n  const thisWeekShipDays = weekShipDays[weekId] ? weekShipDays[weekId].size : 0;\n  const thisWeekShipDates = weekShipDays[weekId] ? Array.from(weekShipDays[weekId]).sort() : [];\n  const streakCutoff = new Date(now); streakCutoff.setDate(streakCutoff.getDate() - 28);\n  const streakCutoffStr = streakCutoff.toISOString().slice(0, 10);\n  const streakShipDates = []; for (const dates of Object.values(weekShipDays)) { for (const d of dates) { if (d >= streakCutoffStr) streakShipDates.push(d); } }\n  // Also include shipped_dates from artifacts_status (covers pre-fix backfills missing ledger entries)\n  const streakSet = new Set(streakShipDates);\n  for (const a of Object.values(state.artifacts_status || {})) {\n    for (const sd of (a.shipped_dates || [])) {\n      if (sd >= streakCutoffStr && !streakSet.has(sd)) { streakShipDates.push(sd); streakSet.add(sd); }\n    }\n  }\n  const priorWeeks = Object.keys(weeklyXP).filter(w => w < weekId).sort().reverse().slice(0, 3);\n  const priorXPs = priorWeeks.map(w => weeklyXP[w] || 0);\n  let baseline = 0;\n  if (priorXPs.length > 0) {\n    const sorted = [...priorXPs].sort((a, b) => a - b);\n    const mid = Math.floor(sorted.length / 2);\n    baseline = sorted.length % 2 === 0 ? Math.round((sorted[mid - 1] + sorted[mid]) / 2) : sorted[mid];\n  }\n  const minThreshold = Math.round(baseline * 0.8);\n  const aheadThreshold = Math.round(baseline * 1.2);\n  let pace = 'on_track';\n  if (baseline === 0) {\n    pace = thisWeekXP > 0 ? 'ahead' : 'no_baseline';\n  } else if (thisWeekXP >= aheadThreshold) {\n    pace = 'ahead';\n  } else if (thisWeekXP < minThreshold) {\n    pace = 'lagging';\n  }\n  const shipDayHealthy = thisWeekShipDays >= 3;\n  if (pace === 'on_track' && !shipDayHealthy && thisWeekShipDays > 0 && thisWeekXP > 0) {\n    pace = 'lagging';\n  }\n  return {\n    this_week_xp: thisWeekXP,\n    baseline_xp: baseline,\n    min_threshold: minThreshold,\n    ahead_threshold: aheadThreshold,\n    pace,\n    prior_weeks: priorWeeks.map(w => ({ week: w, xp: weeklyXP[w] || 0 })),\n    ship_days: thisWeekShipDays,\n    ship_dates: thisWeekShipDates,\n    streak_ship_dates: streakShipDates.sort(),\n    ship_day_target: 3,\n    ship_day_healthy: shipDayHealthy,\n    weekly_history: Object.keys(weeklyXP).sort().map(w => ({\n      week: w, xp: weeklyXP[w], ship_days: weekShipDays[w] ? weekShipDays[w].size : 0\n    }))\n  };\n}\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// HANDLERS\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nfunction handleInit() {\n  const force = body.force === true;\n  const existing_state = readKV('pql:state:state_json');\n  const existing_epics = readKV('pql:library:epics_json');\n  const healthy = existing_state && existing_epics && existing_epics.epics && existing_state.artifacts_status;\n\n  if (healthy && !force) {\n    const artCount = Object.keys(existing_state.artifacts_status).length;\n    const epicCount = existing_epics.epics.length;\n    return [{ json: { status: 'ok', cmd: 'init', result: 'already_initialized', message: 'Healthy data found: ' + epicCount + ' epics, ' + artCount + ' artifacts. Use /sync to add work. Send {\"cmd\":\"init\",\"force\":true} to wipe and restart.', storage_path: PQL_DIR, artifact_count: artCount, epic_count: epicCount } }];\n  }\n\n  const reason = force ? 'force reinit' : (!existing_state && !existing_epics) ? 'no data' : 'partial/corrupt data repaired';\n  const emptyEpics = { epics: [] };\n  const emptyState = { current_date: dateStr, current_week_id: weekId, epics_status: {}, artifacts_status: {}, weekly: { week_id: weekId, quests: [], moves: [], committed_artifacts: [], stretch_artifacts: [], parked_artifacts: [], pings_due: [] }, xp_ledger: [], inbox_items: [] };\n  const wp = { week_id: weekId, created_at: isoNow, quests: [], moves: [], committed_artifacts: [], stretch_artifacts: [], parked_artifacts: [], pings_due: [] };\n  writeKV('pql:library:epics_json', emptyEpics);\n  writeKV('pql:state:state_json', emptyState);\n  writeKV('pql:inbox:scratchpad_md', 'PQL Scratchpad created ' + isoNow);\n  writeKV('pql:plans:weeks:' + weekId, wp);\n  return [{ json: { status: 'ok', cmd: 'init', result: 'initialized', reason: reason, date: dateStr, week: weekId, storage_path: PQL_DIR, message: 'Empty portfolio created (' + reason + '). Use /sync to brain dump your first tasks.' } }];\n}\n\n\nfunction handleSeed() {\n  const epics = JSON.parse('{\"epics\":[{\"epic_id\":\"EPIC-001\",\"title\":\"Annual Research Agenda\",\"description\":\"Produce a structured, prioritized pipeline of topics the team should diagnose and investigate this year.\",\"milestones\":[{\"milestone_id\":\"EPIC-001-M1\",\"title\":\"Preparation\",\"artifacts\":[\"EPIC-001-A01\",\"EPIC-001-A02\",\"EPIC-001-A03\",\"EPIC-001-A04\",\"EPIC-001-A05\",\"EPIC-001-A06\"]},{\"milestone_id\":\"EPIC-001-M2\",\"title\":\"Workshop & Capture\",\"artifacts\":[\"EPIC-001-A07\",\"EPIC-001-A08\"]},{\"milestone_id\":\"EPIC-001-M3\",\"title\":\"Prioritization & Delivery\",\"artifacts\":[\"EPIC-001-A09\",\"EPIC-001-A10\",\"EPIC-001-A11\",\"EPIC-001-A12\",\"EPIC-001-A13\"]}],\"artifacts\":[{\"artifact_id\":\"EPIC-001-A01\",\"title\":\"Mission-aligned ideation brief\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-001-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-001-A02\",\"title\":\"Workshop agenda (run-of-show)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-001-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-001-A03\",\"title\":\"Facilitation guide (scripts, prompts, contingencies)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-001-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-001-A04\",\"title\":\"Idea capture template (cards/worksheet)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-001-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-001-A05\",\"title\":\"Foundational strategies synthesis pack (one brief per sector/strategy)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-001-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-001-A06\",\"title\":\"Future signals digest (1-page)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-001-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-001-A07\",\"title\":\"Workshop outputs pack (raw capture + cleaned list)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-001-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-001-A08\",\"title\":\"Issue inventory v1 (structured laundry list)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-001-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-001-A09\",\"title\":\"Prioritization criteria + rubric (scoring rules)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-001-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-001-A10\",\"title\":\"Prioritization matrix + ranked list v1\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-001-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-001-A11\",\"title\":\"Top 10 research agenda one-pager\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-001-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-001-A12\",\"title\":\"Share-out deck/brief (executive-ready)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-001-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-001-A13\",\"title\":\"Epic completion package (everything packaged + feedback)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-001-M3\",\"default_status\":\"open\"}]},{\"epic_id\":\"EPIC-002\",\"title\":\"Intervention Menu\",\"description\":\"A reusable catalog of interventions and \\\\\\\\\"most unique findings\\\\\\\\\" that teams can pull from quickly.\",\"milestones\":[{\"milestone_id\":\"EPIC-002-M1\",\"title\":\"Taxonomy & Structure\",\"artifacts\":[\"EPIC-002-A01\",\"EPIC-002-A02\"]},{\"milestone_id\":\"EPIC-002-M2\",\"title\":\"Content Build\",\"artifacts\":[\"EPIC-002-A03\",\"EPIC-002-A04\",\"EPIC-002-A05\"]},{\"milestone_id\":\"EPIC-002-M3\",\"title\":\"Package & Ship\",\"artifacts\":[\"EPIC-002-A06\",\"EPIC-002-A07\",\"EPIC-002-A08\",\"EPIC-002-A09\"]}],\"artifacts\":[{\"artifact_id\":\"EPIC-002-A01\",\"title\":\"Intervention taxonomy + tags (behavior, lever, evidence, channel)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-002-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-002-A02\",\"title\":\"Menu structure mockup v0.1 (sections, navigation, indexing)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-002-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-002-A03\",\"title\":\"Catalog of successful interventions (entries formatted consistently)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-002-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-002-A04\",\"title\":\"Gallery of unique research findings (insight \u2192 implication \u2192 applies)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-002-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-002-A05\",\"title\":\"Evidence grading key (strong/moderate/weak definitions)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-002-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-002-A06\",\"title\":\"\\\\\\\\\"How to use this menu\\\\\\\\\" one-pager\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-002-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-002-A07\",\"title\":\"Maintenance process note (how entries get added + QC)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-002-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-002-A08\",\"title\":\"Share-ready PDF/deck version\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-002-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-002-A09\",\"title\":\"Epic completion package (final + stakeholder sign-off)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-002-M3\",\"default_status\":\"open\"}]},{\"epic_id\":\"EPIC-003\",\"title\":\"Current Surrogacy Landscape\",\"description\":\"An up-to-date landscape synthesis integrating the latest available data and context.\",\"milestones\":[{\"milestone_id\":\"EPIC-003-M1\",\"title\":\"Data Assembly\",\"artifacts\":[\"EPIC-003-A01\",\"EPIC-003-A02\",\"EPIC-003-A03\"]},{\"milestone_id\":\"EPIC-003-M2\",\"title\":\"Synthesis\",\"artifacts\":[\"EPIC-003-A04\",\"EPIC-003-A05\",\"EPIC-003-A06\"]},{\"milestone_id\":\"EPIC-003-M3\",\"title\":\"Validation & Delivery\",\"artifacts\":[\"EPIC-003-A07\",\"EPIC-003-A08\",\"EPIC-003-A09\"]}],\"artifacts\":[{\"artifact_id\":\"EPIC-003-A01\",\"title\":\"Data intake inventory (sources + dates + definitions)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-003-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-003-A02\",\"title\":\"Cleaned DOH/admin data appendix (tables + data dictionary)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-003-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-003-A03\",\"title\":\"Change log (what\\'s new since last version)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-003-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-003-A04\",\"title\":\"Landscape brief v1 (2\u20135 pages narrative synthesis)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-003-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-003-A05\",\"title\":\"Key insights & implications slide (1-slide/1-page)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-003-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-003-A06\",\"title\":\"Open questions + data gaps list\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-003-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-003-A07\",\"title\":\"Stakeholder validation questions (DOH/legal/comms)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-003-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-003-A08\",\"title\":\"Share-ready landscape deck v1\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-003-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-003-A09\",\"title\":\"Epic completion package (brief + deck + appendix + feedback)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-003-M3\",\"default_status\":\"open\"}]},{\"epic_id\":\"EPIC-004\",\"title\":\"Surrogacy Survey\",\"description\":\"A pilot-ready instrument (and later field-ready final) with clear measurement logic.\",\"milestones\":[{\"milestone_id\":\"EPIC-004-M1\",\"title\":\"Design\",\"artifacts\":[\"EPIC-004-A01\",\"EPIC-004-A02\",\"EPIC-004-A03\",\"EPIC-004-A04\"]},{\"milestone_id\":\"EPIC-004-M2\",\"title\":\"Test & Revise\",\"artifacts\":[\"EPIC-004-A05\",\"EPIC-004-A06\",\"EPIC-004-A07\",\"EPIC-004-A08\"]},{\"milestone_id\":\"EPIC-004-M3\",\"title\":\"Finalize\",\"artifacts\":[\"EPIC-004-A09\",\"EPIC-004-A10\",\"EPIC-004-A11\",\"EPIC-004-A12\"]}],\"artifacts\":[{\"artifact_id\":\"EPIC-004-A01\",\"title\":\"Construct map + hypotheses (what you measure and why)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-004-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-004-A02\",\"title\":\"Survey blueprint (sections, flow, time, skip logic plan)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-004-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-004-A03\",\"title\":\"Draft instrument v1 (full script)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-004-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-004-A04\",\"title\":\"Sensitivity/ethics wording note (consent, stigma, definitions)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-004-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-004-A05\",\"title\":\"Cognitive test / pilot plan (who, how, pass/fail)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-004-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-004-A06\",\"title\":\"Feedback log + revision decisions (comment resolution)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-004-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-004-A07\",\"title\":\"Instrument v2 (pilot-ready / share-ready PDF)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-004-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-004-A08\",\"title\":\"Programming spec (question IDs, logic rules, responses)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-004-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-004-A09\",\"title\":\"QA checklist + test results (timing, logic, missingness)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-004-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-004-A10\",\"title\":\"Analysis & scoring plan (variables/indices computed)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-004-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-004-A11\",\"title\":\"Field-ready final instrument\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-004-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-004-A12\",\"title\":\"Epic completion package (instrument + scoring + evidence of review)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-004-M3\",\"default_status\":\"open\"}]},{\"epic_id\":\"EPIC-005\",\"title\":\"Behavioral Science Team OS\",\"description\":\"Lightweight operating model: intake \u2192 diagnose \u2192 design \u2192 test \u2192 scale.\",\"milestones\":[{\"milestone_id\":\"EPIC-005-M1\",\"title\":\"Foundation\",\"artifacts\":[\"EPIC-005-A01\",\"EPIC-005-A02\",\"EPIC-005-A03\",\"EPIC-005-A04\"]},{\"milestone_id\":\"EPIC-005-M2\",\"title\":\"Standards & Templates\",\"artifacts\":[\"EPIC-005-A05\",\"EPIC-005-A06\",\"EPIC-005-A07\",\"EPIC-005-A08\"]},{\"milestone_id\":\"EPIC-005-M3\",\"title\":\"Governance & Delivery\",\"artifacts\":[\"EPIC-005-A09\",\"EPIC-005-A10\",\"EPIC-005-A11\"]}],\"artifacts\":[{\"artifact_id\":\"EPIC-005-A01\",\"title\":\"Mission & scope one-pager (what you do / don\\'t do)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-005-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-005-A02\",\"title\":\"Intake template (how requests enter the team)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-005-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-005-A03\",\"title\":\"Diagnostic framework v1 (definitions + steps)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-005-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-005-A04\",\"title\":\"Worked example (framework applied to a real case)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-005-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-005-A05\",\"title\":\"Artifact standards / \\\\\\\\\"definition of done\\\\\\\\\" checklist\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-005-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-005-A06\",\"title\":\"Project lifecycle template (phases + expected outputs)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-005-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-005-A07\",\"title\":\"Experiment/pilot template (hypothesis, design, measures, ethics)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-005-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-005-A08\",\"title\":\"Evidence standards note (what counts as sufficient evidence)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-005-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-005-A09\",\"title\":\"Governance/RACI note (roles, reviews, approvals)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-005-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-005-A10\",\"title\":\"Share-ready Team OS deck/brief\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-005-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-005-A11\",\"title\":\"Epic completion package (OS docs + endorsed feedback)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-005-M3\",\"default_status\":\"open\"}]},{\"epic_id\":\"EPIC-006\",\"title\":\"Delayed Marriage in Emiratis\",\"description\":\"Evidence synthesis + data landscape + survey instrument and policy options.\",\"milestones\":[{\"milestone_id\":\"EPIC-006-M1\",\"title\":\"Evidence Synthesis\",\"artifacts\":[\"EPIC-006-A01\",\"EPIC-006-A02\",\"EPIC-006-A03\",\"EPIC-006-A04\",\"EPIC-006-A05\"]},{\"milestone_id\":\"EPIC-006-M2\",\"title\":\"Survey Development\",\"artifacts\":[\"EPIC-006-A06\",\"EPIC-006-A07\",\"EPIC-006-A08\",\"EPIC-006-A09\",\"EPIC-006-A10\"]},{\"milestone_id\":\"EPIC-006-M3\",\"title\":\"Policy & Analysis\",\"artifacts\":[\"EPIC-006-A11\",\"EPIC-006-A12\",\"EPIC-006-A13\",\"EPIC-006-A14\",\"EPIC-006-A15\",\"EPIC-006-A16\",\"EPIC-006-A17\"]}],\"artifacts\":[{\"artifact_id\":\"EPIC-006-A01\",\"title\":\"5-study synthesis brief (findings, methods, gaps)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-006-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A02\",\"title\":\"Admin data gap map + inventory (missing + request list)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-006-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A03\",\"title\":\"QoL item scan table (candidate items + relevance)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-006-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A04\",\"title\":\"Integrated landscape brief/deck v1 (studies + admin + QoL)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-006-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A05\",\"title\":\"Alignment memo (gaps agreed; avoids duplication)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-006-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A06\",\"title\":\"Construct gap analysis (what must be measured next)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-006-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A07\",\"title\":\"Survey blueprint (sections, flow, time, skip logic)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-006-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A08\",\"title\":\"Survey draft v1\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-006-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A09\",\"title\":\"Feedback log + revisions\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-006-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A10\",\"title\":\"Survey v2 (pilot-ready / share-ready)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-006-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A11\",\"title\":\"Policy benchmark matrix (country \u2192 policy \u2192 mechanism \u2192 evidence)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-006-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A12\",\"title\":\"Policy typology (categories + classification rules)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-006-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A13\",\"title\":\"Policy synthesis memo (promising/risky/context-dependent)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-006-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A14\",\"title\":\"Pilot plan + pilot findings note\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-006-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A15\",\"title\":\"Data exploration outputs (tables/figures + notes)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-006-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A16\",\"title\":\"1-page brief (main results)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-006-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-006-A17\",\"title\":\"Epic completion package (landscape + instrument + options + feedback)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-006-M3\",\"default_status\":\"open\"}]},{\"epic_id\":\"EPIC-007\",\"title\":\"Delayed Kids in Emirati Families\",\"description\":\"Evidence synthesis + data landscape + survey instrument and policy options.\",\"milestones\":[{\"milestone_id\":\"EPIC-007-M1\",\"title\":\"Evidence Synthesis\",\"artifacts\":[\"EPIC-007-A01\",\"EPIC-007-A02\",\"EPIC-007-A03\",\"EPIC-007-A04\",\"EPIC-007-A05\"]},{\"milestone_id\":\"EPIC-007-M2\",\"title\":\"Survey Development\",\"artifacts\":[\"EPIC-007-A06\",\"EPIC-007-A07\",\"EPIC-007-A08\",\"EPIC-007-A09\",\"EPIC-007-A10\"]},{\"milestone_id\":\"EPIC-007-M3\",\"title\":\"Policy & Analysis\",\"artifacts\":[\"EPIC-007-A11\",\"EPIC-007-A12\",\"EPIC-007-A13\",\"EPIC-007-A14\",\"EPIC-007-A15\",\"EPIC-007-A16\",\"EPIC-007-A17\"]}],\"artifacts\":[{\"artifact_id\":\"EPIC-007-A01\",\"title\":\"5-study synthesis brief (findings, methods, gaps)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-007-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A02\",\"title\":\"Admin data gap map + inventory (missing + request list)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-007-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A03\",\"title\":\"QoL item scan table (candidate items + relevance)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-007-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A04\",\"title\":\"Integrated landscape brief/deck v1 (studies + admin + QoL + cost-of-raising-child)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-007-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A05\",\"title\":\"Alignment memo (DCD / Ministry of Family; avoids duplication)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-007-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A06\",\"title\":\"Construct gap analysis (what must be measured next)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-007-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A07\",\"title\":\"Survey blueprint\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-007-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A08\",\"title\":\"Survey draft v1\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-007-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A09\",\"title\":\"Feedback log + revisions\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-007-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A10\",\"title\":\"Survey v2 (pilot-ready / share-ready)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-007-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A11\",\"title\":\"Policy benchmark matrix\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-007-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A12\",\"title\":\"Policy typology\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-007-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A13\",\"title\":\"Policy synthesis memo\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-007-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A14\",\"title\":\"Pilot plan + pilot findings note\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-007-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A15\",\"title\":\"Data exploration outputs (tables/figures + notes)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-007-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A16\",\"title\":\"1-page brief (main results)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-007-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-007-A17\",\"title\":\"Epic completion package (landscape + instrument + options + feedback)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-007-M3\",\"default_status\":\"open\"}]},{\"epic_id\":\"EPIC-008\",\"title\":\"Religious Helpline & Emirati Decision Making\",\"description\":\"Survey instrument, landscape synthesis, and analysis for understanding how religious helplines shape Emirati decision making.\",\"milestones\":[{\"milestone_id\":\"EPIC-008-M1\",\"title\":\"Survey Design\",\"artifacts\":[\"EPIC-008-A01\",\"EPIC-008-A02\",\"EPIC-008-A03\",\"EPIC-008-A04\",\"EPIC-008-A05\",\"EPIC-008-A06\"]},{\"milestone_id\":\"EPIC-008-M2\",\"title\":\"Test & Revise\",\"artifacts\":[\"EPIC-008-A07\",\"EPIC-008-A08\",\"EPIC-008-A09\",\"EPIC-008-A10\",\"EPIC-008-A11\"]},{\"milestone_id\":\"EPIC-008-M3\",\"title\":\"Landscape & Data\",\"artifacts\":[\"EPIC-008-A12\",\"EPIC-008-A13\",\"EPIC-008-A14\",\"EPIC-008-A15\"]},{\"milestone_id\":\"EPIC-008-M4\",\"title\":\"Analysis & Delivery\",\"artifacts\":[\"EPIC-008-A16\",\"EPIC-008-A17\",\"EPIC-008-A18\"]}],\"artifacts\":[{\"artifact_id\":\"EPIC-008-A01\",\"title\":\"Construct map + hypotheses (what you\\'re measuring and why)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-008-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A02\",\"title\":\"Survey blueprint (sections, flow, estimated time, skip logic plan)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-008-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A03\",\"title\":\"Analytical plan (key outcomes, variables, intended analyses)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-008-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A04\",\"title\":\"Codebook (variable names, response coding, derived indices)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-008-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A05\",\"title\":\"Survey script draft v1 (full instrument draft)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-008-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A06\",\"title\":\"Sensitivity / ethics wording note (definitions, stigma risks, consent)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-008-M1\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A07\",\"title\":\"Comment resolution log / feedback log\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-008-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A08\",\"title\":\"Survey script v2 (pilot-ready / share-ready PDF)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-008-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A09\",\"title\":\"Pilot plan (who, how, success criteria, what you\\'ll check)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-008-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A10\",\"title\":\"Pilot findings note (what broke, what to fix, timing, item issues)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-008-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A11\",\"title\":\"Final survey (field-ready post-pilot version)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-008-M2\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A12\",\"title\":\"Data intake inventory (datasets received, dates, definitions)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-008-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A13\",\"title\":\"AWQAF data intake summary (what\\'s in submission, what\\'s missing, key signals)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-008-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A14\",\"title\":\"Current landscape deck v0.1 (structure + initial charts/tables)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-008-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A15\",\"title\":\"Share-ready current landscape deck v1\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-008-M3\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A16\",\"title\":\"Data exploration outputs (tables/figures + notes)\",\"xp\":8,\"type\":\"medium\",\"milestone_id\":\"EPIC-008-M4\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A17\",\"title\":\"1-page brief on main results (headline findings + implications)\",\"xp\":3,\"type\":\"small\",\"milestone_id\":\"EPIC-008-M4\",\"default_status\":\"open\"},{\"artifact_id\":\"EPIC-008-A18\",\"title\":\"Epic completion package (instrument + scoring + landscape + evidence of review)\",\"xp\":12,\"type\":\"large\",\"milestone_id\":\"EPIC-008-M4\",\"default_status\":\"open\"}]}]}');\n  const as = {};\n  for (const e of epics.epics) { for (const a of e.artifacts) { as[a.artifact_id] = { epic_id: e.epic_id, status: a.default_status, last_touched: dateStr, shipped_dates: [], dependency: { exists: false, waiting_on: '', ping_date: '', notes: '' } }; } }\n  const es = {};\n  for (const e of epics.epics) { es[e.epic_id] = 'active'; }\n  const state = { current_date: dateStr, current_week_id: weekId, epics_status: es, artifacts_status: as, weekly: { week_id: weekId, quests: [], moves: [], committed_artifacts: [], stretch_artifacts: [], parked_artifacts: [], pings_due: [] }, xp_ledger: [], inbox_items: [], ops_log: [], mastery_log: [] };\n  const wp = { week_id: weekId, created_at: isoNow, quests: [], moves: [], committed_artifacts: [], stretch_artifacts: [], parked_artifacts: [], pings_due: [] };\n  writeKV('pql:library:epics_json', epics);\n  writeKV('pql:state:state_json', state);\n  writeKV('pql:inbox:scratchpad_md', 'PQL Scratchpad created ' + isoNow);\n  writeKV('pql:plans:weeks:' + weekId, wp);\n  const totalArts = Object.keys(as).length;\n  let totalXP = 0; for (const e of epics.epics) { for (const a of e.artifacts) totalXP += a.xp; }\n  return [{ json: { status: 'ok', cmd: 'seed', result: 'seeded', storage_path: PQL_DIR, date: dateStr, week: weekId, epics_count: epics.epics.length, artifacts_count: totalArts, total_potential_xp: totalXP } }];\n}\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// /start\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nfunction handleStart() {\n  const state = readKV('pql:state:state_json');\n  const epics = readKV('pql:library:epics_json');\n  if (!state || !epics) return [{ json: { status: 'error', cmd: 'start', message: 'No data. Run /init first. Storage: ' + PQL_DIR, storage_path: PQL_DIR } }];\n  const artLookup = buildArtLookup(epics);\n  const phase = body.phase || 'review';\n\n  if (free_text) {\n    let sp = readKV('pql:inbox:scratchpad_md') || '';\n    sp += '\\n[' + isoNow + '] ' + free_text;\n    writeKV('pql:inbox:scratchpad_md', sp);\n  }\n\n  if (phase === 'review') {\n    const fiveDaysAgo = new Date(now); fiveDaysAgo.setDate(fiveDaysAgo.getDate() - 5);\n    const agingDateStr = fiveDaysAgo.toISOString().slice(0,10);\n    const allArts = []; const agingArts = []; const depsArts = []; const noDepsArts = [];\n    for (const aid of Object.keys(state.artifacts_status)) {\n      const a = state.artifacts_status[aid]; const info = artLookup[aid] || {};\n      const item = { artifact_id: aid, title: info.title || aid, type: info.type || '?', xp: info.xp || 0, status: a.status, epic_id: a.epic_id, epic_title: info.epic_title || '', last_touched: a.last_touched, dependency: a.dependency };\n      if (a.status === 'shipped') continue;\n      allArts.push(item);\n      const isAging = (a.last_touched <= agingDateStr);\n      const pingOverdue = (a.dependency && a.dependency.exists && a.dependency.ping_date && a.dependency.ping_date <= dateStr);\n      if (isAging || pingOverdue) agingArts.push({ ...item, aging_reason: isAging ? 'not_touched_5d' : 'ping_overdue' });\n      if (a.dependency && a.dependency.exists) depsArts.push(item); else noDepsArts.push(item);\n    }\n    const epicsSummary = [];\n    for (const e of epics.epics) {\n      const es = state.epics_status[e.epic_id] || 'inactive';\n      const arts = e.artifacts.map(a => ({ artifact_id: a.artifact_id, title: a.title, status: (state.artifacts_status[a.artifact_id] || {}).status || 'unknown' }));\n      epicsSummary.push({ epic_id: e.epic_id, title: e.title, status: es, artifacts: arts });\n    }\n    if (!state.ops_log) state.ops_log = [];\n    { const usedIds = new Set(state.ops_log.filter(o => o.id).map(o => o.id)); let counter = state.ops_log.length; for (const o of state.ops_log) { if (!o.id) { let nid; do { counter++; nid = 'OPS-' + String(counter).padStart(3,'0'); } while (usedIds.has(nid)); o.id = nid; usedIds.add(nid); } if (o.waiting_on === undefined) o.waiting_on = ''; if (o.ping_date === undefined) o.ping_date = ''; } }\n    const overdueOps = state.ops_log.filter(o => o.status === 'open' && o.ping_date && o.ping_date <= dateStr);\n\n    return [{ json: { status: 'ok', cmd: 'start', phase: 'review', date: dateStr, week_id: weekId, message: 'Review your portfolio. Then send phase=plan with your selections.', brain_dump_captured: !!free_text, epics: epicsSummary, aging_artifacts: agingArts, aging_count: agingArts.length, artifacts_with_dependencies: depsArts, artifacts_without_dependencies: noDepsArts, all_open_artifacts: allArts, open_count: allArts.length, overdue_ops_pings: overdueOps, overdue_ops_count: overdueOps.length, pace: computePace(state), next_step: { phase: 'plan', required_fields: { shipped: 'array of artifact_ids shipped since last plan', committed: 'array of artifact_ids to commit this week', stretch: 'array of artifact_ids as stretch goals', parked: 'array of artifact_ids to park', quests: 'array of 2 objects: [{epic_id, friday_artifact_id}]', dependencies: 'array of {artifact_id, waiting_on, ping_date, notes}' } } } }];\n  }\n\n  if (phase === 'plan') {\n    const shipped = body.shipped || []; const leverageTypes = body.leverage_types || {}; const shipResults = []; let xpEarned = 0;\n    const shippedEpicIds = [];\n    for (const aid of shipped) { const a = state.artifacts_status[aid]; if (!a || a.status === 'shipped') continue; const info = artLookup[aid] || {}; a.status = 'shipped'; a.last_touched = dateStr; a.shipped_dates.push(dateStr); const xp = info.xp || 0; xpEarned += xp; const levType = leverageTypes[aid] || null; if (levType) { a.leverage_type = levType; } state.xp_ledger.push({ date: dateStr, artifact_id: aid, epic_id: a.epic_id, xp, note: 'Shipped: ' + (info.title || aid), leverage_type: levType }); shipResults.push({ artifact_id: aid, xp, leverage_type: levType }); shippedEpicIds.push(a.epic_id); }\n    const epicBonuses = checkAllEpicCompletions(state, epics, shippedEpicIds, dateStr);\n    for (const b of epicBonuses) { xpEarned += b.xp; shipResults.push({ artifact_id: b.bonusArtId, xp: b.xp, action: 'epic_bonus', epic_title: b.epic_title }); }\n    if (epicBonuses.length > 0) writeKV('pql:library:epics_json', epics);\n    const deps = body.dependencies || [];\n    for (const d of deps) { const a = state.artifacts_status[d.artifact_id]; if (a) { a.dependency = { exists: true, waiting_on: d.waiting_on || '', ping_date: d.ping_date || '', notes: d.notes || '' }; } }\n    const committed = body.committed || []; const stretch = body.stretch || []; const parked = body.parked || [];\n    for (const aid of committed) { if (state.artifacts_status[aid]) { state.artifacts_status[aid].status = 'committed'; state.artifacts_status[aid].last_touched = dateStr; } }\n    for (const aid of stretch) { if (state.artifacts_status[aid]) { state.artifacts_status[aid].status = 'stretch'; state.artifacts_status[aid].last_touched = dateStr; } }\n    for (const aid of parked) { if (state.artifacts_status[aid]) { state.artifacts_status[aid].status = 'parked'; state.artifacts_status[aid].last_touched = dateStr; } }\n    const questsInput = body.quests || []; const quests = [];\n    for (let i = 0; i < Math.min(questsInput.length, 2); i++) { const q = questsInput[i]; quests.push({ quest_id: 'Q' + (i+1), epic_id: q.epic_id, friday_finishline_artifact_id: q.friday_artifact_id }); }\n    const moves = [];\n    if (quests[0]) { const info = artLookup[quests[0].friday_finishline_artifact_id] || {}; moves.push({ move_id: 'M1', description: 'Produce Friday finish line for Q1: ' + (info.title || quests[0].friday_finishline_artifact_id), linked_artifact_ids: [quests[0].friday_finishline_artifact_id] }); }\n    if (quests[1]) { const info = artLookup[quests[1].friday_finishline_artifact_id] || {}; moves.push({ move_id: 'M2', description: 'Produce Friday finish line for Q2: ' + (info.title || quests[1].friday_finishline_artifact_id), linked_artifact_ids: [quests[1].friday_finishline_artifact_id] }); }\n    const questArtIds = quests.map(q => q.friday_finishline_artifact_id);\n    const m3c = committed.filter(aid => !questArtIds.includes(aid)).map(aid => ({ aid, xp: (artLookup[aid] || {}).xp || 0 })).sort((a,b) => b.xp - a.xp);\n    if (m3c.length > 0) { const t = m3c[0]; const info = artLookup[t.aid] || {}; moves.push({ move_id: 'M3', description: 'Critical prerequisite: ' + (info.title || t.aid), linked_artifact_ids: [t.aid] }); }\n    else if (committed.length > 0) { const fb = committed[0]; const info = artLookup[fb] || {}; moves.push({ move_id: 'M3', description: 'Advance: ' + (info.title || fb), linked_artifact_ids: [fb] }); }\n    const pings = []; const weekEnd = new Date(now); weekEnd.setDate(weekEnd.getDate() + (5 - weekEnd.getDay())); const weekEndStr = weekEnd.toISOString().slice(0,10);\n    for (const aid of Object.keys(state.artifacts_status)) { const a = state.artifacts_status[aid]; if (a.dependency && a.dependency.exists && a.dependency.ping_date && a.dependency.ping_date <= weekEndStr) { pings.push({ artifact_id: aid, ping_date: a.dependency.ping_date, waiting_on: a.dependency.waiting_on }); } }\n    const weekPlan = { week_id: weekId, created_at: isoNow, quests, moves, committed_artifacts: committed, stretch_artifacts: stretch, parked_artifacts: parked, pings_due: pings };\n    state.weekly = weekPlan; state.current_date = dateStr; state.current_week_id = weekId;\n    writeKV('pql:plans:weeks:' + weekId, weekPlan);\n    writeKV('pql:state:state_json', state);\n    return [{ json: { status: 'ok', cmd: 'start', phase: 'plan_saved', date: dateStr, week_id: weekId, ships_processed: shipResults, xp_earned: xpEarned, epic_bonuses: epicBonuses.map(b => ({ epic_id: b.entry.epic_id, epic_title: b.epic_title, bonus_xp: b.xp })), quests, moves, committed_artifacts: committed, stretch_artifacts: stretch, parked_artifacts: parked, pings_due: pings, pace: computePace(state) } }];\n  }\n  return [{ json: { status: 'error', cmd: 'start', message: 'Unknown phase: ' + phase } }];\n}\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// /sync \u2014 BUILD AI REQUEST\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nfunction handleSync() {\n  const state = readKV('pql:state:state_json');\n  if (!state) return [{ json: { _route: 'direct', status: 'error', cmd: 'sync', message: 'No state. Run seed first.' } }];\n  const epics = readKV('pql:library:epics_json');\n  if (!epics) return [{ json: { _route: 'direct', status: 'error', cmd: 'sync', message: 'No epics. Run seed first.' } }];\n\n  const mappings = body.mappings || [];\n  if (mappings.length > 0) {\n    const results = [];\n    for (const m of mappings) {\n      if (m.action === 'accept' || m.action === 'mapped') {\n        const idx = (state.inbox_items || []).findIndex(i => i.text === m.text);\n        if (idx >= 0) { state.inbox_items[idx].mapped_to = { epic_id: m.epic_id, artifact_id: m.artifact_id, action: 'mapped' }; state.inbox_items[idx].suggested_lane = m.lane || state.inbox_items[idx].suggested_lane; }\n        results.push({ text: m.text, action: 'mapped', epic_id: m.epic_id, artifact_id: m.artifact_id });\n      } else if (m.action === 'accept_existing') {\n        const aid = m.artifact_id;\n        const eid = m.epic_id;\n        if (aid && state.artifacts_status[aid]) {\n          state.artifacts_status[aid].last_touched = dateStr;\n          let artTitle = aid;\n          for (const ep of (epics.epics || [])) {\n            const art = ep.artifacts.find(a => a.artifact_id === aid);\n            if (art) { artTitle = art.title; break; }\n          }\n          results.push({ action: 'accepted_existing', artifact_id: aid, epic_id: eid, title: artTitle, text: m.text });\n        }\n      } else if (m.action === 'create_artifact') {\n        const epic = epics.epics.find(e => e.epic_id === m.epic_id);\n        if (epic) {\n          const newArtId = m.epic_id + '-A' + (epic.artifacts.length + 1);\n          const artType = m.suggested_type || 'small';\n          const xpMap = { slice: 2, small: 3, medium: 8, large: 12 };\n          const xp = m.suggested_xp || xpMap[artType] || 3;\n          const lastMs = epic.milestones[epic.milestones.length - 1];\n          epic.artifacts.push({ artifact_id: newArtId, title: m.suggested_title || m.text, xp, type: artType, milestone_id: lastMs ? lastMs.milestone_id : m.epic_id + '-M1', default_status: 'open' });\n          if (lastMs) lastMs.artifacts.push(newArtId);\n          state.artifacts_status[newArtId] = { epic_id: m.epic_id, status: 'open', last_touched: dateStr, shipped_dates: [], dependency: { exists: false, waiting_on: '', ping_date: '', notes: '' } };\n          const idx = (state.inbox_items || []).findIndex(i => i.text === m.text);\n          if (idx >= 0) state.inbox_items[idx].mapped_to = { epic_id: m.epic_id, artifact_id: newArtId, action: 'created' };\n          results.push({ text: m.text, action: 'artifact_created', epic_id: m.epic_id, artifact_id: newArtId, title: m.suggested_title || m.text, xp, type: artType });\n        }\n      } else if (m.action === 'create_epic') {\n        const epicNum = epics.epics.length + 1;\n        const newEpicId = 'EPIC-' + String(epicNum).padStart(3, '0');\n        const newMsId = newEpicId + '-M1';\n        const newArtId = newEpicId + '-A1';\n        const artType = m.suggested_type || 'small';\n        const xpMap = { slice: 2, small: 3, medium: 8, large: 12 };\n        const xp = m.suggested_xp || xpMap[artType] || 3;\n        epics.epics.push({ epic_id: newEpicId, title: m.suggested_epic_title || m.suggested_title || m.text, description: m.description || 'Created from brain dump', milestones: [{ milestone_id: newMsId, title: 'Draft', artifacts: [newArtId] }], artifacts: [{ artifact_id: newArtId, title: m.suggested_title || m.text, xp, type: artType, milestone_id: newMsId, default_status: 'open' }] });\n        state.epics_status[newEpicId] = 'active';\n        state.artifacts_status[newArtId] = { epic_id: newEpicId, status: 'open', last_touched: dateStr, shipped_dates: [], dependency: { exists: false, waiting_on: '', ping_date: '', notes: '' } };\n        const idx = (state.inbox_items || []).findIndex(i => i.text === m.text);\n        if (idx >= 0) state.inbox_items[idx].mapped_to = { epic_id: newEpicId, artifact_id: newArtId, action: 'created_epic' };\n        results.push({ text: m.text, action: 'epic_created', epic_id: newEpicId, artifact_id: newArtId, title: m.suggested_epic_title || m.text, xp, type: artType });\n      } else if (m.action === 'create_epic_batch') {\n        const xpMap = { slice: 2, small: 3, medium: 8, large: 12 };\n        let targetEpicId = m.epic_id;\n        let targetEpic = targetEpicId ? epics.epics.find(e => e.epic_id === targetEpicId) : null;\n        if (!targetEpic && m.suggested_epic_title) {\n          const epicNum = epics.epics.length + 1;\n          targetEpicId = 'EPIC-' + String(epicNum).padStart(3, '0');\n          const msId = targetEpicId + '-M1';\n          targetEpic = { epic_id: targetEpicId, title: m.suggested_epic_title, description: 'Created from brain dump cluster', milestones: [{ milestone_id: msId, title: 'Draft', artifacts: [] }], artifacts: [] };\n          epics.epics.push(targetEpic);\n          state.epics_status[targetEpicId] = 'active';\n          results.push({ text: m.suggested_epic_title, action: 'epic_created', epic_id: targetEpicId, title: m.suggested_epic_title });\n          for (let bi = mappings.indexOf(m) + 1; bi < mappings.length; bi++) {\n            if (mappings[bi].action === 'create_epic_batch' && mappings[bi].suggested_epic_title === m.suggested_epic_title) {\n              mappings[bi].epic_id = targetEpicId;\n            }\n          }\n        }\n        if (targetEpic) {\n          const artNum = targetEpic.artifacts.length + 1;\n          const newArtId = targetEpicId + '-A' + artNum;\n          const artType = m.suggested_type || 'small';\n          const xp = m.suggested_xp || xpMap[artType] || 3;\n          const lastMs = targetEpic.milestones[targetEpic.milestones.length - 1];\n          targetEpic.artifacts.push({ artifact_id: newArtId, title: m.suggested_title || m.text, xp, type: artType, milestone_id: lastMs ? lastMs.milestone_id : targetEpicId + '-M1', default_status: 'open' });\n          if (lastMs) lastMs.artifacts.push(newArtId);\n          state.artifacts_status[newArtId] = { epic_id: targetEpicId, status: 'open', last_touched: dateStr, shipped_dates: [], dependency: { exists: false, waiting_on: '', ping_date: '', notes: '' } };\n          const idx = (state.inbox_items || []).findIndex(i => i.text === m.text);\n          if (idx >= 0) state.inbox_items[idx].mapped_to = { epic_id: targetEpicId, artifact_id: newArtId, action: 'created_in_cluster' };\n          results.push({ text: m.text, action: 'artifact_created', epic_id: targetEpicId, artifact_id: newArtId, title: m.suggested_title || m.text, xp, type: artType });\n        }\n      }\n    }\n    writeKV('pql:library:epics_json', epics);\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'sync', phase: 'mappings_applied', date: dateStr, results, total_epics: epics.epics.length, total_artifacts: Object.keys(state.artifacts_status).length } }];\n  }\n\n  const scratchpad = readKV('pql:inbox:scratchpad_md') || '';\n  const lines = scratchpad.split('\\n').filter(l => l.trim().length > 0);\n  const processedTextsSet = new Set();\n  for (const i of (state.inbox_items || [])) {\n    if (i.text) processedTextsSet.add(i.text);\n    if (i.original_text) processedTextsSet.add(i.original_text);\n  }\n  const processedTexts = { includes: (t) => processedTextsSet.has(t) };\n  const newLines = [];\n  for (const line of lines) {\n    const cleaned = line.replace(/^\\[.*?\\]\\s*/, '').trim();\n    if (!cleaned || cleaned.startsWith('#') || cleaned.startsWith('PQL Scratchpad')) continue;\n    if (!processedTexts.includes(cleaned)) newLines.push(cleaned);\n  }\n  if (free_text && free_text.trim().length > 0 && !processedTexts.includes(free_text.trim())) {\n    newLines.push(free_text.trim());\n    let sp = readKV('pql:inbox:scratchpad_md') || '';\n    sp += '\\n[' + isoNow + '] ' + free_text.trim();\n    writeKV('pql:inbox:scratchpad_md', sp);\n  }\n\n  if (newLines.length === 0) {\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'sync', date: dateStr, message: 'No new items to process.', total_inbox_items: (state.inbox_items || []).length } }];\n  }\n\n  let epicsCtx = '';\n  for (const e of epics.epics) {\n    const es = state.epics_status[e.epic_id] || 'inactive';\n    const openArts = e.artifacts.filter(a => { const s = (state.artifacts_status[a.artifact_id] || {}).status; return s === 'open' || s === 'committed'; });\n    const shippedCount = e.artifacts.filter(a => (state.artifacts_status[a.artifact_id] || {}).status === 'shipped').length;\n    epicsCtx += '\\nEpic: ' + e.epic_id + ' \u2014 ' + e.title + ' [' + es + ', ' + e.artifacts.length + ' artifacts, ' + shippedCount + ' shipped]\\n';\n    // Show up to 5 key artifacts for matching context\n    const sample = openArts.slice(0, 5);\n    for (const a of sample) {\n      epicsCtx += '  - ' + a.artifact_id + ': ' + a.title + ' (' + a.type + ')\\n';\n    }\n    if (openArts.length > 5) epicsCtx += '  ... and ' + (openArts.length - 5) + ' more open artifacts\\n';\n  }\n\n  let itemsList = '';\n  for (let i = 0; i < newLines.length; i++) {\n    itemsList += (i + 1) + '. \"' + newLines[i].replace(/\"/g, '\\\\\"') + '\"\\n';\n  }\n\n  const sysPrompt = 'You are a classifier for a Portfolio Quest League productivity system. Respond ONLY with valid JSON, no markdown fences, no explanation.';\n\n  const userPrompt = `You MUST classify ONLY these exact items (do NOT invent new items):\n\nITEMS TO CLASSIFY:\n${itemsList}\n\nClassify each item above into lanes and cluster related portfolio items. THREE parts:\n\nPART 1 \u2014 CLASSIFY each item into a lane:\n- \"ops_admin\": emails, calls, scheduling, meetings, follow-ups, admin, logistics, tool setup\n- \"mastery\": learning without tangible output: tutorials, courses, reading, training\n- \"portfolio\": work producing a TANGIBLE DELIVERABLE (doc, deck, script, dashboard, analysis, memo, framework). Must answer: \"What file/deliverable will exist when done?\"\nNOT portfolio: \"Read X\", \"Study X\", \"Set up X\", \"Meet with X\" (unless they explicitly mention producing output)\n\nFor portfolio items determine: \"existing_artifact\" (matches below), \"new_artifact\" (fits existing epic), or \"new_epic\" (no matching epic).\n\nArtifact sizing: slice (2 XP, minimal output), small (3 XP, complete limited scope), medium (8 XP, substantial), large (12 XP, polished final package).\nTitle format: \"[Verb] [Specific Deliverable] for/of [Context]\" \u2014 e.g. \"Draft Stakeholder Analysis for Water Project\"\n\nPART 2 \u2014 CLUSTER related portfolio items:\n- 2+ items sharing a theme that matches an existing epic \u2192 cluster with \"existing_epic\"\n- 2+ items sharing a theme with NO matching epic \u2192 cluster with \"new_epic\"\n- Single new_epic item \u2192 its own cluster\n- Items with \"existing_artifact\" do NOT go in clusters\n\nPART 3 \u2014 For each \"new_epic\" cluster, add \"suggested_artifacts\" (3-6) showing the progression:\n1. Planning/scoping artifact (outline, framework)\n2. Core production artifacts (drafts, analyses)\n3. Completion artifact (final deliverable, presentation)\n\nCURRENT EPICS:\n${epicsCtx}\n\nREMINDER: Classify ONLY the items listed at the top. Do NOT add items that are not in the list.\n\nReturn ONLY valid JSON (no markdown fences):\n{\"classifications\":[{\"original_text\":\"exact input text\",\"item_text\":\"individual task after splitting\",\"lane\":\"ops_admin|mastery|portfolio\",\"confidence\":0.85,\"portfolio_action\":\"existing_artifact|new_artifact|new_epic|null\",\"epic_id\":\"EPIC-XXX or null\",\"artifact_id\":\"ID or null\",\"suggested_title\":\"title or null\",\"suggested_epic_title\":\"epic title or null\",\"suggested_type\":\"slice|small|medium|large|null\",\"suggested_xp\":3,\"reasoning\":\"1-line explanation\"}],\"clusters\":[{\"cluster_id\":\"C1\",\"suggested_epic_title\":\"title\",\"action\":\"new_epic|existing_epic\",\"epic_id\":\"EPIC-XXX or null\",\"reasoning\":\"why grouped\",\"items\":[{\"item_text\":\"text\",\"suggested_title\":\"title\",\"suggested_type\":\"slice|small|medium|large\",\"suggested_xp\":3}],\"suggested_artifacts\":[{\"suggested_title\":\"title\",\"suggested_type\":\"small|medium|large\",\"suggested_xp\":3,\"rationale\":\"why needed\"}]}]}`;\n\n  writeKV('pql:sync:pending_context', {\n    new_lines: newLines, date: dateStr, iso_now: isoNow, week_id: weekId\n  });\n\n  return [{ json: {\n    _route: 'ai',\n    cmd: 'sync',\n    items_count: newLines.length,\n    new_lines: newLines,\n    chatInput: userPrompt,\n    ai_system: sysPrompt\n  } }];\n}\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// /week\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nfunction handleWeek() {\n  const plan = readKV('pql:plans:weeks:' + weekId);\n  const state = readKV('pql:state:state_json');\n  const epics = readKV('pql:library:epics_json');\n  if (!plan && !state) return [{ json: { _route: 'direct', status: 'error', cmd: 'week', message: 'No data. Run /seed then /start first.' } }];\n\n  const src = (plan && plan.quests && plan.quests.length > 0) ? plan\n            : (state && state.weekly && state.weekly.quests && state.weekly.quests.length > 0) ? state.weekly\n            : null;\n\n  if (!src || !src.quests || src.quests.length === 0) {\n    const artLookup = buildArtLookup(epics);\n    const openArts = [];\n    if (state && state.artifacts_status) {\n      for (const aid of Object.keys(state.artifacts_status)) {\n        const a = state.artifacts_status[aid];\n        if (a.status !== 'shipped' && a.status !== 'parked') {\n          const info = artLookup[aid] || {};\n          openArts.push({ artifact_id: aid, title: info.title || aid, type: info.type || '?', xp: info.xp || 0, status: a.status, epic_id: a.epic_id, epic_title: info.epic_title || '' });\n        }\n      }\n    }\n    const epicIds = [...new Set(openArts.map(a => a.epic_id))];\n    const exampleQuests = [];\n    for (let i = 0; i < Math.min(epicIds.length, 2); i++) {\n      const eArts = openArts.filter(a => a.epic_id === epicIds[i]);\n      if (eArts.length > 0) {\n        exampleQuests.push({ epic_id: epicIds[i], friday_artifact_id: eArts[0].artifact_id });\n      }\n    }\n    const exampleCommitted = openArts.slice(0, 3).map(a => a.artifact_id);\n\n    return [{ json: {\n      status: 'ok', cmd: 'week', week_id: weekId,\n      empty: true,\n      message: 'No weekly plan set yet. Run /start, then send a plan payload to set your quests and commitments.',\n      open_artifacts: openArts,\n      open_count: openArts.length,\n      plan_template: {\n        cmd: 'start',\n        phase: 'plan',\n        shipped: [],\n        committed: exampleCommitted,\n        stretch: [],\n        parked: [],\n        quests: exampleQuests,\n        dependencies: []\n      }\n    } }];\n  }\n\n  const artLookup = buildArtLookup(epics);\n  function enrich(ids) { return (ids || []).map(aid => { const info = artLookup[aid] || {}; const st = state ? (state.artifacts_status[aid] || {}) : {}; return { artifact_id: aid, title: info.title || aid, type: info.type || '?', xp: info.xp || 0, status: st.status || 'unknown', epic_title: info.epic_title || '', parked_waiting_on: st.parked_waiting_on || '' }; }); }\n  const pace = computePace(state);\n  // Compute unplanned artifacts: open/committed in state but not in any weekly plan list\n  const plannedIds = new Set([...(src.committed_artifacts || []), ...(src.stretch_artifacts || []), ...(src.parked_artifacts || [])]);\n  const unplanned = [];\n  if (state && state.artifacts_status) {\n    for (const aid of Object.keys(state.artifacts_status)) {\n      const a = state.artifacts_status[aid];\n      if (a.status !== 'shipped' && a.status !== 'parked' && !plannedIds.has(aid)) {\n        const info = artLookup[aid] || {};\n        unplanned.push({ artifact_id: aid, title: info.title || aid, type: info.type || '?', xp: info.xp || 0, status: a.status || 'open', epic_id: a.epic_id, epic_title: info.epic_title || '' });\n      }\n    }\n  }\n  return [{ json: { status: 'ok', cmd: 'week', week_id: weekId, quests: src.quests, quests_count: (src.quests||[]).length, moves: src.moves || [], moves_count: (src.moves||[]).length, committed: enrich(src.committed_artifacts), stretch: enrich(src.stretch_artifacts), parked: enrich(src.parked_artifacts), unplanned, unplanned_count: unplanned.length, pings_due: src.pings_due || [], pace } }];\n}\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// /status\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nfunction handleStatus() {\n  const state = readKV('pql:state:state_json');\n  const epics = readKV('pql:library:epics_json');\n  if (!state || !epics) return [{ json: { status: 'error', cmd: 'status', message: 'No data. Run seed first.' } }];\n  const artLookup = buildArtLookup(epics);\n  const plan = readKV('pql:plans:weeks:' + weekId);\n  const rygInput = body.ryg || {};\n  const activeEpics = [];\n  for (const e of epics.epics) { if (state.epics_status[e.epic_id] === 'active') { const total = e.artifacts.length; const shipped = e.artifacts.filter(a => (state.artifacts_status[a.artifact_id] || {}).status === 'shipped').length; activeEpics.push({ epic_id: e.epic_id, title: e.title, progress: shipped + '/' + total }); } }\n  const sevenAgo = new Date(now); sevenAgo.setDate(sevenAgo.getDate() - 7); const sevenAgoStr = sevenAgo.toISOString().slice(0,10);\n  const lastWeekShips = state.xp_ledger.filter(e => e.date >= sevenAgoStr);\n  const lastWeekXP = lastWeekShips.reduce((s,e) => s + e.xp, 0);\n  const committedRYG = (plan ? plan.committed_artifacts : []).map(aid => { const info = artLookup[aid] || {}; const st = state.artifacts_status[aid] || {}; const ryg = rygInput[aid] || (st.dependency && st.dependency.exists ? 'yellow' : 'green'); const mit = st.dependency && st.dependency.exists ? 'Waiting: ' + st.dependency.waiting_on + '. Ping: ' + st.dependency.ping_date : 'On track'; return { artifact_id: aid, title: info.title || aid, epic_title: info.epic_title || '', type: info.type || '?', xp: info.xp || 0, ryg, mitigation: mit }; });\n  const allDeps = [];\n  for (const aid of Object.keys(state.artifacts_status)) { const a = state.artifacts_status[aid]; if (a.status !== 'shipped' && a.dependency && a.dependency.exists) { const info = artLookup[aid] || {}; allDeps.push({ artifact_id: aid, title: info.title || aid, waiting_on: a.dependency.waiting_on, ping_date: a.dependency.ping_date, notes: a.dependency.notes }); } }\n  const parkedList = (plan ? plan.parked_artifacts : []).map(aid => { const info = artLookup[aid] || {}; const st = state.artifacts_status[aid] || {}; return { artifact_id: aid, title: info.title || aid, epic_title: info.epic_title || '', parked_waiting_on: st.parked_waiting_on || '' }; });\n  const decisions = body.decisions || [];\n  const pace = computePace(state);\n  const opsOpen = (state.ops_log || []).filter(o => o.status === 'open');\n  const opsDoneWeek = (state.ops_log || []).filter(o => o.status === 'done' && o.completed_at && o.completed_at >= sevenAgoStr);\n  const mastOpen = (state.mastery_log || []).filter(m => m.status === 'open');\n  const mastDoneWeek = (state.mastery_log || []).filter(m => m.status === 'done' && m.completed_at && m.completed_at >= sevenAgoStr);\n  const leverageThisWeek = { decide: 0, absorb: 0, align: 0, clear: 0 };\n  for (const e of state.xp_ledger) { const wk = getWeekId(new Date(e.date)); if (wk === weekId && e.leverage_type) { leverageThisWeek[e.leverage_type] = (leverageThisWeek[e.leverage_type] || 0) + 1; } }\n  const report = { title: 'Weekly Portfolio Pulse', date: dateStr, week_id: weekId, pace, active_epics: activeEpics, shipped_last_week: lastWeekShips.map(e => ({ artifact_id: e.artifact_id, title: (artLookup[e.artifact_id] || {}).title || e.artifact_id, epic_id: e.epic_id, xp: e.xp })), xp_earned_last_week: lastWeekXP, xp_breakdown: lastWeekShips, committed_artifacts_ryg: committedRYG, stretch_artifacts: (plan ? plan.stretch_artifacts : []).map(aid => ({ artifact_id: aid, title: (artLookup[aid] || {}).title || aid })), risks_count: committedRYG.filter(c => c.ryg !== 'green').length, decisions_needed: decisions, dependencies: allDeps, parked: parkedList, quests: plan ? plan.quests : [], moves: plan ? plan.moves : [], leverage_this_week: leverageThisWeek, ops_summary: { open: opsOpen, open_count: opsOpen.length, done_this_week: opsDoneWeek, done_this_week_count: opsDoneWeek.length }, mastery_summary: { open: mastOpen, open_count: mastOpen.length, done_this_week: mastDoneWeek, done_this_week_count: mastDoneWeek.length } };\n  writeKV('pql:outputs:status_email:' + dateStr, report);\n  return [{ json: { status: 'ok', cmd: 'status', ...report, output_key: 'pql:outputs:status_email:' + dateStr } }];\n}\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// /wrapup\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nfunction handleWrapup() {\n  const state = readKV('pql:state:state_json');\n  const epics = readKV('pql:library:epics_json');\n  if (!state || !epics) return [{ json: { status: 'error', cmd: 'wrapup', message: 'No state. Run /init first. Storage: ' + PQL_DIR, storage_path: PQL_DIR, existing_keys: listKVKeys() } }];\n  const artLookup = buildArtLookup(epics);\n  const activeArts = [];\n  for (const aid of Object.keys(state.artifacts_status)) { const a = state.artifacts_status[aid]; if (a.status !== 'shipped') { const info = artLookup[aid] || {}; activeArts.push({ artifact_id: aid, title: info.title || aid, type: info.type || '?', xp: info.xp || 0, status: a.status, epic_id: a.epic_id, epic_title: info.epic_title || a.epic_id, has_dependency: a.dependency && a.dependency.exists }); } }\n  const shipped = body.shipped || [];\n  const leverageTypes = body.leverage_types || {};\n  if (shipped.length === 0) { return [{ json: { status: 'ok', cmd: 'wrapup', mode: 'select', message: 'Send again with shipped array.', active_artifacts: activeArts, active_count: activeArts.length } }]; }\n  const results = []; let xpEarned = 0; const ledgerNew = [];\n  const shippedEpicIds = [];\n  for (const aid of shipped) { const a = state.artifacts_status[aid]; if (!a) { results.push({ artifact_id: aid, action: 'skipped', reason: 'not found' }); continue; } if (a.status === 'shipped') { results.push({ artifact_id: aid, action: 'skipped', reason: 'already shipped' }); continue; } const info = artLookup[aid] || {}; a.status = 'shipped'; a.last_touched = dateStr; a.shipped_dates.push(dateStr); const xp = info.xp || 0; xpEarned += xp; const levType = leverageTypes[aid] || null; if (levType) { if (!a.leverage_type) a.leverage_type = levType; } const entry = { date: dateStr, artifact_id: aid, epic_id: a.epic_id, xp, note: 'Shipped: ' + (info.title || aid), leverage_type: levType }; state.xp_ledger.push(entry); ledgerNew.push(entry); results.push({ artifact_id: aid, title: info.title || aid, type: info.type || '?', xp, action: 'shipped', leverage_type: levType }); shippedEpicIds.push(a.epic_id); }\n  const epicBonuses = checkAllEpicCompletions(state, epics, shippedEpicIds, dateStr);\n  for (const b of epicBonuses) { xpEarned += b.xp; ledgerNew.push(b.entry); results.push({ artifact_id: b.bonusArtId, title: b.epic_title + ' \u2014 Epic Complete!', type: 'bonus', xp: b.xp, action: 'epic_bonus' }); }\n  if (epicBonuses.length > 0) writeKV('pql:library:epics_json', epics);\n  state.current_date = dateStr;\n  const remaining = []; const openDeps = [];\n  for (const aid of Object.keys(state.artifacts_status)) { const a = state.artifacts_status[aid]; const info = artLookup[aid] || {}; if (a.status !== 'shipped') remaining.push({ artifact_id: aid, title: info.title || aid, status: a.status, epic_id: a.epic_id }); if (a.status !== 'shipped' && a.dependency && a.dependency.exists) openDeps.push({ artifact_id: aid, waiting_on: a.dependency.waiting_on, ping_date: a.dependency.ping_date }); }\n  writeKV('pql:state:state_json', state);\n  const dailyLog = { date: dateStr, week_id: weekId, shipped: results.filter(r => r.action === 'shipped'), xp_earned: xpEarned, ops_notes: body.ops_notes || '', mastery_notes: body.mastery_notes || '', notes: body.notes || free_text || '', remaining_open: remaining, open_dependencies: openDeps, created_at: isoNow };\n  writeKV('pql:logs:daily:' + dateStr, dailyLog);\n  const totalXP = state.xp_ledger.reduce((s,e) => s + e.xp, 0);\n  const pace = computePace(state);\n  // Compute leverage counts for this week\n  const leverageCounts = { decide: 0, absorb: 0, align: 0, clear: 0 };\n  const leverageDetails = [];\n  for (const e of state.xp_ledger) { const wk = getWeekId(new Date(e.date)); if (wk === weekId && e.leverage_type) { leverageCounts[e.leverage_type] = (leverageCounts[e.leverage_type] || 0) + 1; } }\n  for (const r of results) { if (r.action === 'shipped' && r.leverage_type) { leverageDetails.push({ artifact_id: r.artifact_id, title: r.title, leverage_type: r.leverage_type }); } }\n  const leverageSummary = { decide: 0, absorb: 0, align: 0, clear: 0 };\n  for (const r of results) { if (r.action === 'shipped' && r.leverage_type) { leverageSummary[r.leverage_type] = (leverageSummary[r.leverage_type] || 0) + 1; } }\n  return [{ json: { status: 'ok', cmd: 'wrapup', mode: 'completed', date: dateStr, week_id: weekId, ships: results, xp_earned_today: xpEarned, xp_total: totalXP, xp_breakdown: ledgerNew, epic_bonuses: epicBonuses.map(b => ({ epic_id: b.entry.epic_id, epic_title: b.epic_title, bonus_xp: b.xp })), ops_notes: body.ops_notes || '(none)', mastery_notes: body.mastery_notes || '(none)', notes: body.notes || free_text || '(none)', remaining_open: remaining, remaining_count: remaining.length, open_dependencies: openDeps, daily_log_key: 'pql:logs:daily:' + dateStr, pace, leverage_summary: leverageSummary, leverage_details: leverageDetails, leverage_this_week: leverageCounts } }];\n}\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// /ops \u2014 View, add, complete, and ping admin/ops tasks\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nfunction handleOps() {\n  const state = readKV('pql:state:state_json');\n  if (!state) return [{ json: { _route: 'direct', status: 'error', cmd: 'ops', message: 'No data. Run /init first.' } }];\n\n  if (!state.ops_log) state.ops_log = [];\n  if (!state.mastery_log) state.mastery_log = [];\n\n  const opsTexts = new Set(state.ops_log.map(o => o.text));\n  const mastTexts = new Set(state.mastery_log.map(m => m.text));\n  for (const item of (state.inbox_items || [])) {\n    if (item.suggested_lane === 'ops_admin' && !opsTexts.has(item.text)) {\n      state.ops_log.push({ id: 'OPS-' + String(state.ops_log.length + 1).padStart(3,'0'), text: item.text, status: 'open', added_at: item.captured_at || isoNow, completed_at: null, waiting_on: '', ping_date: '', notes: '' });\n      opsTexts.add(item.text);\n    }\n    if (item.suggested_lane === 'mastery' && !mastTexts.has(item.text)) {\n      state.mastery_log.push({ id: 'MST-' + String(state.mastery_log.length + 1).padStart(3,'0'), text: item.text, status: 'open', added_at: item.captured_at || isoNow, completed_at: null, notes: '' });\n      mastTexts.add(item.text);\n    }\n  }\n  // Backfill missing ids on ops items\n  { const usedIds = new Set(state.ops_log.filter(o => o.id).map(o => o.id));\n    let counter = state.ops_log.length;\n    for (const o of state.ops_log) {\n      if (!o.id) {\n        let newId;\n        do { counter++; newId = 'OPS-' + String(counter).padStart(3,'0'); } while (usedIds.has(newId));\n        o.id = newId; usedIds.add(newId);\n      }\n      if (o.waiting_on === undefined) o.waiting_on = '';\n      if (o.ping_date === undefined) o.ping_date = '';\n    }\n  }\n  // Backfill missing ids on mastery items\n  { const usedMIds = new Set(state.mastery_log.filter(m => m.id).map(m => m.id));\n    let mCounter = state.mastery_log.length;\n    for (const m of state.mastery_log) {\n      if (!m.id) {\n        let newId;\n        do { mCounter++; newId = 'MST-' + String(mCounter).padStart(3,'0'); } while (usedMIds.has(newId));\n        m.id = newId; usedMIds.add(newId);\n      }\n    }\n  }\n\n  const subCmd = body.sub_action || body.action || 'view';\n\n  if (subCmd === 'pings') {\n    const epics = readKV('pql:library:epics_json');\n    const artLookup = buildArtLookup(epics);\n    const overdue = state.ops_log.filter(o => o.status === 'open' && o.ping_date && o.ping_date <= dateStr);\n    const artDeps = [];\n    for (const aid of Object.keys(state.artifacts_status || {})) {\n      const a = state.artifacts_status[aid];\n      if (a.status !== 'shipped' && a.dependency && a.dependency.exists && a.dependency.ping_date && a.dependency.ping_date <= dateStr) {\n        const info = artLookup[aid] || {};\n        artDeps.push({ artifact_id: aid, title: info.title || aid, waiting_on: a.dependency.waiting_on, ping_date: a.dependency.ping_date });\n      }\n    }\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'ops', mode: 'pings', date: dateStr, ops_overdue: overdue, ops_overdue_count: overdue.length, artifact_overdue: artDeps, artifact_overdue_count: artDeps.length, total_overdue: overdue.length + artDeps.length } }];\n  }\n\n  if (subCmd === 'add') {\n    const text = body.text || free_text;\n    if (!text || !text.trim()) return [{ json: { _route: 'direct', status: 'error', cmd: 'ops', message: 'Provide text to add.' } }];\n    const newId = 'OPS-' + String(state.ops_log.length + 1).padStart(3,'0');\n    const newItem = { id: newId, text: text.trim(), status: 'open', added_at: isoNow, completed_at: null, waiting_on: body.waiting_on || '', ping_date: body.ping_date || '', notes: body.notes || '' };\n    state.ops_log.push(newItem);\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'ops', mode: 'added', item: newItem, open_count: state.ops_log.filter(o => o.status === 'open').length, total_count: state.ops_log.length } }];\n  }\n\n  if (subCmd === 'set_ping') {\n    const id = body.id;\n    if (!id) return [{ json: { _route: 'direct', status: 'error', cmd: 'ops', message: 'Provide id of ops item.' } }];\n    const item = state.ops_log.find(o => o.id === id);\n    if (!item) return [{ json: { _route: 'direct', status: 'error', cmd: 'ops', message: 'Ops item not found: ' + id } }];\n    if (body.waiting_on !== undefined) item.waiting_on = body.waiting_on;\n    if (body.ping_date !== undefined) item.ping_date = body.ping_date;\n    if (body.notes !== undefined) item.notes = body.notes;\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'ops', mode: 'ping_set', item, message: 'Ping set: ' + item.id + ' \\u2192 ' + (item.waiting_on || '?') + ' by ' + (item.ping_date || '?') } }];\n  }\n\n  if (subCmd === 'done' || subCmd === 'complete') {\n    const ids = body.ids || body.completed || [];\n    if (ids.length === 0) return [{ json: { _route: 'direct', status: 'error', cmd: 'ops', message: 'Provide ids array of ops items to mark done.' } }];\n    const results = [];\n    for (const id of ids) {\n      const item = state.ops_log.find(o => o.id === id);\n      if (item && item.status !== 'done') {\n        item.status = 'done'; item.completed_at = dateStr;\n        if (body.notes) item.notes = body.notes;\n        results.push({ id: item.id, text: item.text, action: 'completed' });\n      } else if (item) { results.push({ id, action: 'already_done' }); }\n      else { results.push({ id, action: 'not_found' }); }\n    }\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'ops', mode: 'completed', results, open_count: state.ops_log.filter(o => o.status === 'open').length, total_count: state.ops_log.length } }];\n  }\n\n  if (subCmd === 'add_mastery') {\n    const text = body.text || free_text;\n    if (!text || !text.trim()) return [{ json: { _route: 'direct', status: 'error', cmd: 'ops', message: 'Provide text to add.' } }];\n    const newId = 'MST-' + String(state.mastery_log.length + 1).padStart(3,'0');\n    const newItem = { id: newId, text: text.trim(), status: 'open', added_at: isoNow, completed_at: null, notes: body.notes || '' };\n    state.mastery_log.push(newItem);\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'ops', mode: 'mastery_added', item: newItem, open_count: state.mastery_log.filter(m => m.status === 'open').length } }];\n  }\n\n  if (subCmd === 'done_mastery') {\n    const ids = body.ids || [];\n    const results = [];\n    for (const id of ids) {\n      const item = state.mastery_log.find(m => m.id === id);\n      if (item && item.status !== 'done') {\n        item.status = 'done'; item.completed_at = dateStr;\n        results.push({ id: item.id, text: item.text, action: 'completed' });\n      }\n    }\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'ops', mode: 'mastery_completed', results, open_count: state.mastery_log.filter(m => m.status === 'open').length } }];\n  }\n\n  if (subCmd === 'delete' || subCmd === 'remove') {\n    const id = body.id;\n    if (!id) return [{ json: { _route: 'direct', status: 'error', cmd: 'ops', message: 'Provide id of ops item to delete.' } }];\n    const idx = state.ops_log.findIndex(o => o.id === id);\n    if (idx < 0) return [{ json: { _route: 'direct', status: 'error', cmd: 'ops', message: 'Ops item not found: ' + id } }];\n    const removed = state.ops_log.splice(idx, 1)[0];\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'ops', mode: 'deleted', item: removed, open_count: state.ops_log.filter(o => o.status === 'open').length, message: 'Ops task deleted: ' + removed.text } }];\n  }\n\n  if (subCmd === 'reorder') {\n    const ids = body.ids;\n    if (!ids || !Array.isArray(ids)) return [{ json: { _route: 'direct', status: 'error', cmd: 'ops', message: 'Provide ids array in desired order.' } }];\n    const opsMap = {};\n    for (const o of state.ops_log) opsMap[o.id] = o;\n    const reordered = [];\n    for (const id of ids) { if (opsMap[id]) { reordered.push(opsMap[id]); delete opsMap[id]; } }\n    for (const o of Object.values(opsMap)) reordered.push(o);\n    state.ops_log = reordered;\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'ops', mode: 'reordered', count: reordered.length, message: 'Ops tasks reordered.' } }];\n  }\n\n  if (subCmd === 'delete_mastery' || subCmd === 'remove_mastery') {\n    const id = body.id;\n    if (!id) return [{ json: { _route: 'direct', status: 'error', cmd: 'ops', message: 'Provide id of mastery item to delete.' } }];\n    const idx = state.mastery_log.findIndex(m => m.id === id);\n    if (idx < 0) return [{ json: { _route: 'direct', status: 'error', cmd: 'ops', message: 'Mastery item not found: ' + id } }];\n    const removed = state.mastery_log.splice(idx, 1)[0];\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'ops', mode: 'mastery_deleted', item: removed, open_count: state.mastery_log.filter(m => m.status === 'open').length, message: 'Mastery task deleted: ' + removed.text } }];\n  }\n\n  if (subCmd === 'reorder_mastery') {\n    const ids = body.ids;\n    if (!ids || !Array.isArray(ids)) return [{ json: { _route: 'direct', status: 'error', cmd: 'ops', message: 'Provide ids array in desired order.' } }];\n    const mastMap = {};\n    for (const m of state.mastery_log) mastMap[m.id] = m;\n    const reordered = [];\n    for (const id of ids) { if (mastMap[id]) { reordered.push(mastMap[id]); delete mastMap[id]; } }\n    for (const m of Object.values(mastMap)) reordered.push(m);\n    state.mastery_log = reordered;\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'ops', mode: 'mastery_reordered', count: reordered.length, message: 'Mastery tasks reordered.' } }];\n  }\n\n  writeKV('pql:state:state_json', state);\n\n  const openOps = state.ops_log.filter(o => o.status === 'open');\n  const overdueOps = openOps.filter(o => o.ping_date && o.ping_date <= dateStr);\n  const waitingOps = openOps.filter(o => o.ping_date && o.ping_date > dateStr);\n  const plainOps = openOps.filter(o => !o.ping_date);\n  const doneOps = state.ops_log.filter(o => o.status === 'done');\n  const sevenAgo = new Date(now); sevenAgo.setDate(sevenAgo.getDate() - 7); const sevenAgoStr2 = sevenAgo.toISOString().slice(0,10);\n  const recentDoneOps = doneOps.filter(o => o.completed_at && o.completed_at >= sevenAgoStr2);\n  const openMastery = state.mastery_log.filter(m => m.status === 'open');\n  const doneMastery = state.mastery_log.filter(m => m.status === 'done');\n  const recentDoneMastery = doneMastery.filter(m => m.completed_at && m.completed_at >= sevenAgoStr2);\n\n  return [{ json: {\n    _route: 'direct', status: 'ok', cmd: 'ops', mode: 'view', date: dateStr,\n    ops: {\n      overdue: overdueOps, overdue_count: overdueOps.length,\n      waiting: waitingOps, waiting_count: waitingOps.length,\n      open_no_ping: plainOps, open_no_ping_count: plainOps.length,\n      open: openOps, open_count: openOps.length,\n      done_this_week: recentDoneOps, done_this_week_count: recentDoneOps.length,\n      total_done: doneOps.length, total: state.ops_log.length\n    },\n    mastery: {\n      open: openMastery, open_count: openMastery.length,\n      done_this_week: recentDoneMastery, done_this_week_count: recentDoneMastery.length,\n      total_done: doneMastery.length, total: state.mastery_log.length\n    },\n    message: overdueOps.length > 0\n      ? overdueOps.length + ' OVERDUE ping(s)! ' + openOps.length + ' open ops, ' + openMastery.length + ' open mastery.'\n      : openOps.length + ' open ops tasks, ' + openMastery.length + ' open mastery tasks.'\n  } }];\n}\n\n// /edit \u2014 Rename epics (and artifacts)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nfunction handleEdit() {\n  const state = readKV('pql:state:state_json');\n  const epics = readKV('pql:library:epics_json');\n  if (!state || !epics) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'No data. Run /init first.' } }];\n\n  const action = body.sub_action || body.action || '';\n\n  // \u2500\u2500 BACKFILL SHIPPED DATES \u2500\u2500\n  if (action === 'backfill_shipped') {\n    const entries = body.entries || [];\n    if (entries.length === 0) {\n      // Return all artifacts grouped by epic for interactive selection\n      const epicList = epics.epics.map(e => {\n        const epicStatus = state.epics_status[e.epic_id] || 'active';\n        return {\n          epic_id: e.epic_id,\n          title: e.title,\n          status: epicStatus,\n          artifacts: e.artifacts.map(a => {\n            const aState = state.artifacts_status[a.artifact_id] || {};\n            const shippedDates = aState.shipped_dates || [];\n            return {\n              artifact_id: a.artifact_id,\n              title: a.title,\n              type: a.type,\n              xp: a.xp,\n              status: aState.status || 'open',\n              shipped_date: shippedDates.length > 0 ? shippedDates[shippedDates.length - 1] : null\n            };\n          })\n        };\n      });\n      return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'backfill_select', epics: epicList } }];\n    }\n    // Apply backfill entries\n    const results = [];\n    for (const entry of entries) {\n      const aid = entry.artifact_id;\n      const shipDate = entry.shipped_date;\n      if (!aid || !shipDate) { results.push({ artifact_id: aid || '?', status: 'skipped', reason: 'missing artifact_id or shipped_date' }); continue; }\n      const a = state.artifacts_status[aid];\n      if (!a) { results.push({ artifact_id: aid, status: 'skipped', reason: 'not found in state' }); continue; }\n      if (!a.shipped_dates) a.shipped_dates = [];\n      if (!a.shipped_dates.includes(shipDate)) a.shipped_dates.push(shipDate);\n      a.shipped_dates.sort();\n      if (a.status !== 'shipped') { a.status = 'shipped'; a.last_touched = shipDate; }\n      const info = buildArtLookup(epics)[aid] || {};\n      const xp = info.xp || 0;\n      // Write xp_ledger entry so streak tracker picks up the backfilled date\n      if (!state.xp_ledger) state.xp_ledger = [];\n      const alreadyInLedger = state.xp_ledger.some(e => e.artifact_id === aid && e.date === shipDate);\n      if (!alreadyInLedger) {\n        state.xp_ledger.push({ date: shipDate, artifact_id: aid, epic_id: a.epic_id, xp, note: 'Backfill: ' + (info.title || aid) });\n      }\n      results.push({ artifact_id: aid, title: info.title || aid, status: 'ok', shipped_date: shipDate, xp });\n    }\n    // Check for epic completions\n    const shippedEpicIds = results.filter(r => r.status === 'ok').map(r => (state.artifacts_status[r.artifact_id] || {}).epic_id).filter(Boolean);\n    const epicBonuses = checkAllEpicCompletions(state, epics, shippedEpicIds, dateStr);\n    if (epicBonuses.length > 0) writeKV('pql:library:epics_json', epics);\n    let totalXP = results.filter(r => r.status === 'ok').reduce((s, r) => s + (r.xp || 0), 0);\n    for (const b of epicBonuses) { totalXP += b.xp; }\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'backfill_applied', applied: results.filter(r => r.status === 'ok').length, skipped: results.filter(r => r.status === 'skipped').length, xp_earned: totalXP, epic_bonuses: epicBonuses, results, pace: computePace(state) } }];\n  }\n\n  if (action === 'delete_artifact') {\n    const aid = body.artifact_id;\n    if (!aid) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Provide artifact_id to delete.' } }];\n    const artState = state.artifacts_status[aid];\n    if (artState && artState.status === 'shipped') return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Cannot delete shipped artifact: ' + aid } }];\n    let found = false; let epicId = ''; let title = '';\n    for (const e of epics.epics) {\n      const idx = e.artifacts.findIndex(a => a.artifact_id === aid);\n      if (idx >= 0) {\n        title = e.artifacts[idx].title;\n        epicId = e.epic_id;\n        e.artifacts.splice(idx, 1);\n        for (const ms of (e.milestones || [])) {\n          ms.artifacts = (ms.artifacts || []).filter(a => a !== aid);\n        }\n        found = true;\n        break;\n      }\n    }\n    if (!found) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Artifact not found: ' + aid } }];\n    delete state.artifacts_status[aid];\n    if (state.weekly) {\n      state.weekly.committed_artifacts = (state.weekly.committed_artifacts || []).filter(a => a !== aid);\n      state.weekly.stretch_artifacts = (state.weekly.stretch_artifacts || []).filter(a => a !== aid);\n      state.weekly.parked_artifacts = (state.weekly.parked_artifacts || []).filter(a => a !== aid);\n      state.weekly.pings_due = (state.weekly.pings_due || []).filter(p => p.artifact_id !== aid);\n      for (const q of (state.weekly.quests || [])) {\n        if (q.friday_finishline_artifact_id === aid) q.friday_finishline_artifact_id = '';\n      }\n      for (const m of (state.weekly.moves || [])) {\n        m.linked_artifact_ids = (m.linked_artifact_ids || []).filter(a => a !== aid);\n      }\n    }\n    writeKV('pql:library:epics_json', epics);\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'deleted_artifact', artifact_id: aid, epic_id: epicId, title, message: 'Artifact deleted: ' + title } }];\n  }\n\n\n  // \u2500\u2500 DELETE EPIC \u2500\u2500\n  if (action === 'delete_epic') {\n    const eid = body.epic_id;\n    if (!eid) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Provide epic_id to delete.' } }];\n    const epicIdx = epics.epics.findIndex(e => e.epic_id === eid);\n    if (epicIdx < 0) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Epic not found: ' + eid } }];\n    const epic = epics.epics[epicIdx];\n    const hasShipped = epic.artifacts.some(a => {\n      const st = (state.artifacts_status[a.artifact_id] || {}).status;\n      return st === 'shipped';\n    });\n    if (hasShipped) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Cannot delete epic with shipped artifacts: ' + eid + '. Remove shipped artifacts first or archive instead.' } }];\n    // Remove all artifacts from state\n    for (const a of epic.artifacts) {\n      delete state.artifacts_status[a.artifact_id];\n      if (state.weekly) {\n        state.weekly.committed_artifacts = (state.weekly.committed_artifacts || []).filter(x => x !== a.artifact_id);\n        state.weekly.stretch_artifacts = (state.weekly.stretch_artifacts || []).filter(x => x !== a.artifact_id);\n        state.weekly.parked_artifacts = (state.weekly.parked_artifacts || []).filter(x => x !== a.artifact_id);\n        state.weekly.pings_due = (state.weekly.pings_due || []).filter(p => p.artifact_id !== a.artifact_id);\n        for (const q of (state.weekly.quests || [])) {\n          if (q.friday_finishline_artifact_id === a.artifact_id) q.friday_finishline_artifact_id = '';\n          if (q.epic_id === eid) q.epic_id = '';\n        }\n        for (const m of (state.weekly.moves || [])) {\n          m.linked_artifact_ids = (m.linked_artifact_ids || []).filter(x => x !== a.artifact_id);\n        }\n      }\n    }\n    delete state.epics_status[eid];\n    const title = epic.title;\n    const artCount = epic.artifacts.length;\n    epics.epics.splice(epicIdx, 1);\n    writeKV('pql:library:epics_json', epics);\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'deleted_epic', epic_id: eid, title, artifacts_removed: artCount, message: 'Epic deleted: ' + title + ' (' + artCount + ' artifacts removed)' } }];\n  }\n\n  // \u2500\u2500 RESIZE ARTIFACT (change type/XP) \u2500\u2500\n  if (action === 'resize_artifact') {\n    const aid = body.artifact_id;\n    const newType = body.new_type;\n    if (!aid || !newType) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Provide artifact_id and new_type (slice|small|medium|large).' } }];\n    const validTypes = ['slice', 'small', 'medium', 'large'];\n    if (!validTypes.includes(newType)) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Invalid type: ' + newType + '. Use: ' + validTypes.join(', ') } }];\n    const xpMap = { slice: 2, small: 3, medium: 8, large: 12 };\n    const newXP = xpMap[newType];\n    let found = false; let epicId = ''; let oldType = ''; let oldXP = 0; let title = '';\n    for (const e of epics.epics) {\n      const art = e.artifacts.find(a => a.artifact_id === aid);\n      if (art) {\n        oldType = art.type;\n        oldXP = art.xp;\n        title = art.title;\n        epicId = e.epic_id;\n        art.type = newType;\n        art.xp = newXP;\n        found = true;\n        break;\n      }\n    }\n    if (!found) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Artifact not found: ' + aid } }];\n    writeKV('pql:library:epics_json', epics);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'resized_artifact', artifact_id: aid, epic_id: epicId, title, old_type: oldType, old_xp: oldXP, new_type: newType, new_xp: newXP, message: 'Resized: ' + title + ' (' + oldType + ' ' + oldXP + 'XP -> ' + newType + ' ' + newXP + 'XP)' } }];\n  }\n\n  // \u2500\u2500 PARK ARTIFACT \u2500\u2500\n  if (action === 'park_artifact') {\n    const aid = body.artifact_id;\n    if (!aid) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Provide artifact_id to park.' } }];\n    const artState = state.artifacts_status[aid];\n    if (!artState) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Artifact not found in state: ' + aid } }];\n    if (artState.status === 'shipped') return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Cannot park a shipped artifact: ' + aid } }];\n    const oldStatus = artState.status;\n    artState.status = 'parked';\n    artState.last_touched = dateStr;\n    // Store optional waiting_on reason (what external dependency blocks this artifact)\n    const waitingOn = (body.waiting_on || '').trim();\n    artState.parked_waiting_on = waitingOn;\n    let title = aid; let epicId = '';\n    for (const e of epics.epics) {\n      const art = e.artifacts.find(a => a.artifact_id === aid);\n      if (art) { title = art.title; epicId = e.epic_id; break; }\n    }\n    // Also move to parked in weekly plan if exists\n    if (state.weekly) {\n      state.weekly.committed_artifacts = (state.weekly.committed_artifacts || []).filter(a => a !== aid);\n      state.weekly.stretch_artifacts = (state.weekly.stretch_artifacts || []).filter(a => a !== aid);\n      if (!(state.weekly.parked_artifacts || []).includes(aid)) {\n        if (!state.weekly.parked_artifacts) state.weekly.parked_artifacts = [];\n        state.weekly.parked_artifacts.push(aid);\n      }\n    }\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'parked_artifact', artifact_id: aid, epic_id: epicId, title, old_status: oldStatus, waiting_on: waitingOn, message: 'Parked: ' + title + (waitingOn ? ' (waiting on: ' + waitingOn + ')' : ' (was ' + oldStatus + ')') } }];\n  }\n\n  // \u2500\u2500 UNPARK ARTIFACT \u2500\u2500\n  if (action === 'unpark_artifact') {\n    const aid = body.artifact_id;\n    if (!aid) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Provide artifact_id to unpark.' } }];\n    const artState = state.artifacts_status[aid];\n    if (!artState) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Artifact not found in state: ' + aid } }];\n    if (artState.status !== 'parked') return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Artifact is not parked: ' + aid + ' (status: ' + artState.status + ')' } }];\n    artState.status = 'open';\n    artState.last_touched = dateStr;\n    artState.parked_waiting_on = '';\n    let title = aid; let epicId = '';\n    for (const e of epics.epics) {\n      const art = e.artifacts.find(a => a.artifact_id === aid);\n      if (art) { title = art.title; epicId = e.epic_id; break; }\n    }\n    if (state.weekly) {\n      state.weekly.parked_artifacts = (state.weekly.parked_artifacts || []).filter(a => a !== aid);\n    }\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'unparked_artifact', artifact_id: aid, epic_id: epicId, title, message: 'Unparked: ' + title + ' (now open)' } }];\n  }\n\n  // \u2500\u2500 RESOLVE WAITING: check off a waiting_on item \u2192 auto-unpark all matching artifacts \u2500\u2500\n  if (action === 'resolve_waiting') {\n    const waitingOn = (body.waiting_on || '').trim();\n    if (!waitingOn) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Provide waiting_on text to resolve.' } }];\n    const artLookup = buildArtLookup(epics);\n    const unparked = [];\n    for (const aid of Object.keys(state.artifacts_status)) {\n      const a = state.artifacts_status[aid];\n      if (a.status === 'parked' && a.parked_waiting_on && a.parked_waiting_on.toLowerCase() === waitingOn.toLowerCase()) {\n        a.status = 'open';\n        a.last_touched = dateStr;\n        a.parked_waiting_on = '';\n        const info = artLookup[aid] || {};\n        unparked.push({ artifact_id: aid, title: info.title || aid, epic_id: a.epic_id });\n        // Remove from weekly parked list\n        if (state.weekly) {\n          state.weekly.parked_artifacts = (state.weekly.parked_artifacts || []).filter(x => x !== aid);\n        }\n      }\n    }\n    if (unparked.length === 0) return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'resolve_waiting', waiting_on: waitingOn, unparked: [], message: 'No parked artifacts found waiting on: ' + waitingOn } }];\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'resolve_waiting', waiting_on: waitingOn, unparked, message: 'Resolved \"' + waitingOn + '\" \u2014 unparked ' + unparked.length + ' artifact(s): ' + unparked.map(u => u.title).join(', ') } }];\n  }\n\n\n  // \u2500\u2500 PARK EPIC \u2500\u2500\n  if (action === 'park_epic') {\n    const eid = body.epic_id;\n    if (!eid) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Provide epic_id to park.' } }];\n    const epicObj = epics.epics.find(e => e.epic_id === eid);\n    if (!epicObj) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Epic not found: ' + eid } }];\n    const currentStatus = state.epics_status[eid] || 'active';\n    if (currentStatus === 'completed') return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Cannot park a completed epic: ' + eid } }];\n    if (currentStatus === 'parked') return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Epic is already parked: ' + eid } }];\n    state.epics_status[eid] = 'parked';\n    const parkedArts = [];\n    for (const a of epicObj.artifacts) {\n      const aState = state.artifacts_status[a.artifact_id];\n      if (aState && aState.status !== 'shipped' && aState.status !== 'parked') {\n        aState.status = 'parked';\n        aState.last_touched = dateStr;\n        parkedArts.push({ artifact_id: a.artifact_id, title: a.title });\n        if (state.weekly) {\n          state.weekly.committed_artifacts = (state.weekly.committed_artifacts || []).filter(x => x !== a.artifact_id);\n          state.weekly.stretch_artifacts = (state.weekly.stretch_artifacts || []).filter(x => x !== a.artifact_id);\n          if (!(state.weekly.parked_artifacts || []).includes(a.artifact_id)) {\n            if (!state.weekly.parked_artifacts) state.weekly.parked_artifacts = [];\n            state.weekly.parked_artifacts.push(a.artifact_id);\n          }\n        }\n      }\n    }\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'parked_epic', epic_id: eid, title: epicObj.title, old_status: currentStatus, artifacts_parked: parkedArts.length, parked_artifacts: parkedArts, message: 'Parked epic: ' + epicObj.title + ' (' + parkedArts.length + ' artifacts parked)' } }];\n  }\n\n  // \u2500\u2500 UNPARK EPIC \u2500\u2500\n  if (action === 'unpark_epic') {\n    const eid = body.epic_id;\n    if (!eid) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Provide epic_id to unpark.' } }];\n    const epicObj = epics.epics.find(e => e.epic_id === eid);\n    if (!epicObj) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Epic not found: ' + eid } }];\n    const currentStatus = state.epics_status[eid] || 'active';\n    if (currentStatus !== 'parked') return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Epic is not parked: ' + eid + ' (status: ' + currentStatus + ')' } }];\n    state.epics_status[eid] = 'active';\n    const unparkedArts = [];\n    for (const a of epicObj.artifacts) {\n      const aState = state.artifacts_status[a.artifact_id];\n      if (aState && aState.status === 'parked') {\n        aState.status = 'open';\n        aState.last_touched = dateStr;\n        aState.parked_waiting_on = '';\n        unparkedArts.push({ artifact_id: a.artifact_id, title: a.title });\n        if (state.weekly) {\n          state.weekly.parked_artifacts = (state.weekly.parked_artifacts || []).filter(x => x !== a.artifact_id);\n        }\n      }\n    }\n    writeKV('pql:state:state_json', state);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'unparked_epic', epic_id: eid, title: epicObj.title, artifacts_unparked: unparkedArts.length, unparked_artifacts: unparkedArts, message: 'Unparked epic: ' + epicObj.title + ' (' + unparkedArts.length + ' artifacts reactivated)' } }];\n  }\n\n  // \u2500\u2500 REORDER ALL (atomic: epics + all artifact orders in one write) \u2500\u2500\n  if (action === 'reorder_all') {\n    const epicOrder = body.epic_order;\n    const artOrders = body.artifact_orders || {};\n    let epicReordered = false;\n    let artsReordered = 0;\n\n    if (epicOrder && Array.isArray(epicOrder) && epicOrder.length > 0) {\n      const epicMap = {};\n      for (const e of epics.epics) epicMap[e.epic_id] = e;\n      const reordered = [];\n      for (const eid of epicOrder) {\n        if (epicMap[eid]) { reordered.push(epicMap[eid]); delete epicMap[eid]; }\n      }\n      for (const e of Object.values(epicMap)) reordered.push(e);\n      epics.epics = reordered;\n      epicReordered = true;\n    }\n\n    for (const [eid, order] of Object.entries(artOrders)) {\n      if (!Array.isArray(order) || order.length === 0) continue;\n      const epic = epics.epics.find(e => e.epic_id === eid);\n      if (!epic) continue;\n      const artMap = {};\n      for (const a of epic.artifacts) artMap[a.artifact_id] = a;\n      const reordered = [];\n      for (const aid of order) {\n        if (artMap[aid]) { reordered.push(artMap[aid]); delete artMap[aid]; }\n      }\n      for (const a of Object.values(artMap)) reordered.push(a);\n      epic.artifacts = reordered;\n      artsReordered++;\n    }\n\n    writeKV('pql:library:epics_json', epics);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'reordered_all', epic_reordered: epicReordered, artifacts_reordered_epics: artsReordered, message: 'All orders saved (' + (epicReordered ? 'epics + ' : '') + artsReordered + ' artifact lists)' } }];\n  }\n\n  // \u2500\u2500 REORDER ARTIFACTS within an epic \u2500\u2500\n  if (action === 'reorder_artifacts') {\n    const eid = body.epic_id;\n    const order = body.artifact_order;\n    if (!eid || !order || !Array.isArray(order)) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Provide epic_id and artifact_order array.' } }];\n    const epic = epics.epics.find(e => e.epic_id === eid);\n    if (!epic) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Epic not found: ' + eid } }];\n    const artMap = {};\n    for (const a of epic.artifacts) artMap[a.artifact_id] = a;\n    const reordered = [];\n    for (const aid of order) {\n      if (artMap[aid]) { reordered.push(artMap[aid]); delete artMap[aid]; }\n    }\n    for (const a of Object.values(artMap)) reordered.push(a);\n    epic.artifacts = reordered;\n    writeKV('pql:library:epics_json', epics);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'reordered_artifacts', epic_id: eid, artifact_count: reordered.length, message: 'Artifacts reordered in ' + eid } }];\n  }\n\n  // \u2500\u2500 REORDER EPICS \u2500\u2500\n  if (action === 'reorder_epics') {\n    const order = body.epic_order;\n    if (!order || !Array.isArray(order)) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Provide epic_order array.' } }];\n    const epicMap = {};\n    for (const e of epics.epics) epicMap[e.epic_id] = e;\n    const reordered = [];\n    for (const eid of order) {\n      if (epicMap[eid]) { reordered.push(epicMap[eid]); delete epicMap[eid]; }\n    }\n    for (const e of Object.values(epicMap)) reordered.push(e);\n    epics.epics = reordered;\n    writeKV('pql:library:epics_json', epics);\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'reordered_epics', epic_count: reordered.length, message: 'Epics reordered.' } }];\n  }\n\n  const epicId = body.epic_id;\n  const newTitle = body.new_title;\n  const artifactId = body.artifact_id;\n  const newArtTitle = body.new_artifact_title;\n\n  if (!epicId && !artifactId) {\n    const artLookup = buildArtLookup(epics);\n    const epicList = epics.epics.map(e => ({\n      epic_id: e.epic_id,\n      title: e.title,\n      status: state.epics_status[e.epic_id] || 'inactive',\n      artifacts: e.artifacts.map(a => {\n        const aState = state.artifacts_status[a.artifact_id] || {};\n        return {\n          artifact_id: a.artifact_id,\n          title: a.title,\n          type: a.type,\n          xp: a.xp,\n          status: aState.status || 'unknown',\n          parked_waiting_on: aState.parked_waiting_on || ''\n        };\n      })\n    }));\n    return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'select', message: 'Send with epic_id + new_title to rename an epic, or artifact_id + new_artifact_title to rename an artifact.', epics: epicList } }];\n  }\n\n  const changes = [];\n\n  if (epicId && newTitle) {\n    const epic = epics.epics.find(e => e.epic_id === epicId);\n    if (!epic) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Epic not found: ' + epicId } }];\n    const oldTitle = epic.title;\n    epic.title = newTitle.trim();\n    changes.push({ type: 'epic_renamed', epic_id: epicId, old_title: oldTitle, new_title: epic.title });\n  }\n\n  if (artifactId && newArtTitle) {\n    let found = false;\n    for (const e of epics.epics) {\n      const art = e.artifacts.find(a => a.artifact_id === artifactId);\n      if (art) {\n        const oldTitle = art.title;\n        art.title = newArtTitle.trim();\n        changes.push({ type: 'artifact_renamed', artifact_id: artifactId, epic_id: e.epic_id, old_title: oldTitle, new_title: art.title });\n        found = true;\n        break;\n      }\n    }\n    if (!found) return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'Artifact not found: ' + artifactId } }];\n  }\n\n  if (changes.length === 0) {\n    return [{ json: { _route: 'direct', status: 'error', cmd: 'edit', message: 'No valid rename provided. Send epic_id+new_title or artifact_id+new_artifact_title. (received action=' + (body.action || 'none') + ', epic_id=' + (body.epic_id || 'none') + ', artifact_id=' + (body.artifact_id || 'none') + ')' } }];\n  }\n\n  writeKV('pql:library:epics_json', epics);\n  return [{ json: { _route: 'direct', status: 'ok', cmd: 'edit', mode: 'applied', changes, message: changes.length + ' rename(s) applied.' } }];\n}\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// /swap \u2014 Replace a Move mid-week (Rule 3: swap rule)\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nfunction handleSwap() {\n  const state = readKV('pql:state:state_json');\n  const epics = readKV('pql:library:epics_json');\n  if (!state || !epics) return [{ json: { _route: 'direct', status: 'error', cmd: 'swap', message: 'No data. Run /init first.' } }];\n  const artLookup = buildArtLookup(epics);\n\n  const plan = state.weekly;\n  if (!plan || !plan.moves || plan.moves.length === 0) {\n    return [{ json: { _route: 'direct', status: 'error', cmd: 'swap', message: 'No active weekly plan with moves. Run /start first.' } }];\n  }\n\n  const removeMoveId = body.remove_move_id;\n  const newArtifactId = body.new_artifact_id;\n  const newDescription = body.description;\n\n  if (!removeMoveId || !newArtifactId) {\n    const currentMoves = plan.moves.map(m => {\n      const linkedInfo = (m.linked_artifact_ids || []).map(aid => {\n        const info = artLookup[aid] || {};\n        return { artifact_id: aid, title: info.title || aid, type: info.type || '?', xp: info.xp || 0 };\n      });\n      return { move_id: m.move_id, description: m.description, linked_artifacts: linkedInfo };\n    });\n\n    const moveArtIds = new Set();\n    for (const m of plan.moves) { for (const aid of (m.linked_artifact_ids || [])) moveArtIds.add(aid); }\n\n    const swappableArts = [];\n    for (const e of epics.epics) {\n      for (const a of e.artifacts) {\n        const aState = state.artifacts_status[a.artifact_id];\n        if (!aState) continue;\n        if (aState.status === 'shipped' || moveArtIds.has(a.artifact_id)) continue;\n        swappableArts.push({\n          artifact_id: a.artifact_id,\n          title: a.title,\n          type: a.type,\n          xp: a.xp,\n          status: aState.status,\n          epic_id: e.epic_id,\n          epic_title: e.title\n        });\n      }\n    }\n\n    return [{ json: {\n      _route: 'direct', status: 'ok', cmd: 'swap', mode: 'select',\n      message: 'SWAP RULE: New work must replace a Move. Send remove_move_id + new_artifact_id.',\n      current_moves: currentMoves,\n      available_artifacts: swappableArts,\n      available_count: swappableArts.length\n    } }];\n  }\n\n  const moveIdx = plan.moves.findIndex(m => m.move_id === removeMoveId);\n  if (moveIdx < 0) return [{ json: { _route: 'direct', status: 'error', cmd: 'swap', message: 'Move not found: ' + removeMoveId + '. Valid: ' + plan.moves.map(m => m.move_id).join(', ') } }];\n\n  if (!state.artifacts_status[newArtifactId]) {\n    return [{ json: { _route: 'direct', status: 'error', cmd: 'swap', message: 'Artifact not found: ' + newArtifactId } }];\n  }\n\n  const oldMove = JSON.parse(JSON.stringify(plan.moves[moveIdx]));\n  const newInfo = artLookup[newArtifactId] || {};\n\n  const parkedArts = [];\n  for (const oldAid of (oldMove.linked_artifact_ids || [])) {\n    if (state.artifacts_status[oldAid] && state.artifacts_status[oldAid].status !== 'shipped') {\n      state.artifacts_status[oldAid].status = 'parked';\n      state.artifacts_status[oldAid].last_touched = dateStr;\n      parkedArts.push(oldAid);\n      plan.committed_artifacts = (plan.committed_artifacts || []).filter(a => a !== oldAid);\n      plan.stretch_artifacts = (plan.stretch_artifacts || []).filter(a => a !== oldAid);\n      if (!(plan.parked_artifacts || []).includes(oldAid)) {\n        if (!plan.parked_artifacts) plan.parked_artifacts = [];\n        plan.parked_artifacts.push(oldAid);\n      }\n    }\n  }\n\n  state.artifacts_status[newArtifactId].status = 'committed';\n  state.artifacts_status[newArtifactId].last_touched = dateStr;\n  if (!(plan.committed_artifacts || []).includes(newArtifactId)) {\n    plan.committed_artifacts.push(newArtifactId);\n  }\n  plan.parked_artifacts = (plan.parked_artifacts || []).filter(a => a !== newArtifactId);\n  plan.stretch_artifacts = (plan.stretch_artifacts || []).filter(a => a !== newArtifactId);\n\n  plan.moves[moveIdx] = {\n    move_id: removeMoveId,\n    description: newDescription || ('SWAPPED IN: ' + (newInfo.title || newArtifactId)),\n    linked_artifact_ids: [newArtifactId],\n    swapped_at: isoNow,\n    replaced: { old_description: oldMove.description, old_artifact_ids: oldMove.linked_artifact_ids }\n  };\n\n  state.weekly = plan;\n  writeKV('pql:plans:weeks:' + weekId, plan);\n  writeKV('pql:state:state_json', state);\n\n  return [{ json: {\n    _route: 'direct', status: 'ok', cmd: 'swap', mode: 'completed',\n    date: dateStr,\n    old_move: { move_id: oldMove.move_id, description: oldMove.description, artifacts: (oldMove.linked_artifact_ids || []).map(aid => ({ artifact_id: aid, title: (artLookup[aid] || {}).title || aid })) },\n    new_move: { move_id: removeMoveId, description: plan.moves[moveIdx].description, artifact_id: newArtifactId, title: newInfo.title || newArtifactId, xp: newInfo.xp || 0 },\n    parked_artifacts: parkedArts.map(aid => ({ artifact_id: aid, title: (artLookup[aid] || {}).title || aid })),\n    message: 'Move ' + removeMoveId + ' swapped. Old artifact(s) parked, ' + (newInfo.title || newArtifactId) + ' committed.'\n  } }];\n}\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// /files \u2014 Browse, read, edit, and write files on disk\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nfunction handleFiles() {\n  const action = body.sub_action || body.action || \"list\";\n  const filePath = body.path || \"\";\n\n  if (action === \"list\") {\n    const tree = [];\n    function walk(dir, rel) {\n      if (!fs.existsSync(dir)) return;\n      const entries = fs.readdirSync(dir, { withFileTypes: true }).sort((a, b) => {\n        if (a.isDirectory() && !b.isDirectory()) return -1;\n        if (!a.isDirectory() && b.isDirectory()) return 1;\n        return a.name.localeCompare(b.name);\n      });\n      for (const e of entries) {\n        const fullPath = pathMod.join(dir, e.name);\n        const relPath = rel ? rel + \"/\" + e.name : e.name;\n        if (e.isDirectory()) {\n          tree.push({ type: \"dir\", name: e.name, path: relPath });\n          walk(fullPath, relPath);\n        } else {\n          let size = 0; let mtime = \"\";\n          try { const st = fs.statSync(fullPath); size = st.size; mtime = st.mtime.toISOString(); } catch {}\n          tree.push({ type: \"file\", name: e.name, path: relPath, size, modified: mtime });\n        }\n      }\n    }\n    walk(PQL_DIR, \"\");\n    return [{ json: { status: \"ok\", cmd: \"files\", mode: \"list\", storage_path: PQL_DIR, entries: tree, total: tree.length } }];\n  }\n\n  if (action === \"read\") {\n    if (!filePath) return [{ json: { status: \"error\", cmd: \"files\", message: \"Provide path to read.\" } }];\n    const resolved = pathMod.resolve(PQL_DIR, filePath);\n    if (!resolved.startsWith(PQL_DIR)) return [{ json: { status: \"error\", cmd: \"files\", message: \"Access denied: path outside storage root.\" } }];\n    if (!fs.existsSync(resolved)) return [{ json: { status: \"error\", cmd: \"files\", message: \"File not found: \" + filePath } }];\n    const stat = fs.statSync(resolved);\n    if (stat.isDirectory()) return [{ json: { status: \"error\", cmd: \"files\", message: \"Path is a directory. Use action=list.\" } }];\n    if (stat.size > 500000) return [{ json: { status: \"error\", cmd: \"files\", message: \"File too large: \" + stat.size + \" bytes\" } }];\n    const raw = fs.readFileSync(resolved, \"utf8\");\n    let parsed = null;\n    try { parsed = JSON.parse(raw); } catch {}\n    return [{ json: { status: \"ok\", cmd: \"files\", mode: \"read\", path: filePath, full_path: resolved, size: stat.size, modified: stat.mtime.toISOString(), is_json: !!parsed, content: raw, content_parsed: parsed } }];\n  }\n\n  if (action === \"write\") {\n    if (!filePath) return [{ json: { status: \"error\", cmd: \"files\", message: \"Provide path to write.\" } }];\n    if (body.content === undefined && body.content_json === undefined) return [{ json: { status: \"error\", cmd: \"files\", message: \"Provide content or content_json.\" } }];\n    const resolved = pathMod.resolve(PQL_DIR, filePath);\n    if (!resolved.startsWith(PQL_DIR)) return [{ json: { status: \"error\", cmd: \"files\", message: \"Access denied.\" } }];\n    if (fs.existsSync(resolved)) {\n      ensureDir(BACKUP_DIR);\n      const ext = pathMod.extname(resolved);\n      const base = pathMod.basename(resolved, ext);\n      fs.copyFileSync(resolved, pathMod.join(BACKUP_DIR, base + \"_\" + Date.now().toString(36) + ext));\n    }\n    ensureDir(pathMod.dirname(resolved));\n    const content = body.content_json !== undefined ? JSON.stringify(body.content_json, null, 2) : body.content;\n    fs.writeFileSync(resolved, content, \"utf8\");\n    return [{ json: { status: \"ok\", cmd: \"files\", mode: \"written\", path: filePath, full_path: resolved, size: content.length, message: \"File saved. Backup created.\" } }];\n  }\n\n  if (action === \"delete\") {\n    if (!filePath) return [{ json: { status: \"error\", cmd: \"files\", message: \"Provide path.\" } }];\n    const resolved = pathMod.resolve(PQL_DIR, filePath);\n    if (!resolved.startsWith(PQL_DIR)) return [{ json: { status: \"error\", cmd: \"files\", message: \"Access denied.\" } }];\n    if (!fs.existsSync(resolved)) return [{ json: { status: \"error\", cmd: \"files\", message: \"Not found: \" + filePath } }];\n    ensureDir(BACKUP_DIR);\n    const ext = pathMod.extname(resolved);\n    const base = pathMod.basename(resolved, ext);\n    fs.copyFileSync(resolved, pathMod.join(BACKUP_DIR, base + \"_del_\" + Date.now().toString(36) + ext));\n    fs.unlinkSync(resolved);\n    return [{ json: { status: \"ok\", cmd: \"files\", mode: \"deleted\", path: filePath, message: \"Deleted (backup kept in _backups/).\" } }];\n  }\n\n  return [{ json: { status: \"error\", cmd: \"files\", message: \"Unknown action: \" + action + \". Valid: list, read, write, delete\" } }];\n}\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// /library\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// /library\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nfunction handleLibrary() {\n  const epics = readKV('pql:library:epics_json');\n  const state = readKV('pql:state:state_json');\n  if (!epics || !state) return [{ json: { status: 'error', cmd: 'library', message: 'No data. Run seed first.' } }];\n\n  const folders = [];\n  for (const e of epics.epics) {\n    const epicStatus = state.epics_status[e.epic_id] || 'active';\n    if (epicStatus === 'dropped') continue;\n\n    const totalArts = e.artifacts.length;\n    let shippedCount = 0;\n    let earnedXP = 0;\n    let totalXP = 0;\n    const artifactDetails = [];\n\n    for (const a of e.artifacts) {\n      totalXP += a.xp;\n      const aStatus = (state.artifacts_status[a.artifact_id] || {}).status || 'open';\n      if (aStatus === 'shipped') {\n        shippedCount++;\n        earnedXP += a.xp;\n      }\n      const aState = state.artifacts_status[a.artifact_id] || {};\n      const shippedDates = aState.shipped_dates || [];\n      artifactDetails.push({\n        artifact_id: a.artifact_id,\n        title: a.title,\n        type: a.type,\n        xp: a.xp,\n        status: aStatus,\n        milestone_id: a.milestone_id,\n        shipped_date: shippedDates.length > 0 ? shippedDates[shippedDates.length - 1] : null\n      });\n    }\n\n    const progressPct = totalArts > 0 ? Math.round((shippedCount / totalArts) * 100) : 0;\n\n    // Group by milestone\n    const milestones = (e.milestones || []).map(m => {\n      const mArts = artifactDetails.filter(a => a.milestone_id === m.milestone_id);\n      const mShipped = mArts.filter(a => a.status === 'shipped').length;\n      return {\n        milestone_id: m.milestone_id,\n        title: m.title,\n        artifacts: mArts,\n        shipped: mShipped,\n        total: mArts.length\n      };\n    });\n\n    folders.push({\n      epic_id: e.epic_id,\n      title: e.title,\n      status: epicStatus,\n      shipped: shippedCount,\n      total: totalArts,\n      earned_xp: earnedXP,\n      total_xp: totalXP,\n      progress_pct: progressPct,\n      milestones,\n      artifacts: artifactDetails\n    });\n  }\n\n  // Sort: active first, then parked, then completed \u2014 within each group by progress descending\n  const statusOrder = { active: 0, parked: 1, completed: 2 };\n  folders.sort((a, b) => {\n    const oa = statusOrder[a.status] !== undefined ? statusOrder[a.status] : 1;\n    const ob = statusOrder[b.status] !== undefined ? statusOrder[b.status] : 1;\n    if (oa !== ob) return oa - ob;\n    return b.progress_pct - a.progress_pct;\n  });\n\n  const totalEpics = folders.length;\n  const activeCount = folders.filter(f => f.status === 'active').length;\n  const parkedCount = folders.filter(f => f.status === 'parked').length;\n  const totalEarned = folders.reduce((s, f) => s + f.earned_xp, 0);\n  const totalPossible = folders.reduce((s, f) => s + f.total_xp, 0);\n\n  // \u2500\u2500 Backfill: record historical shipped dates \u2500\u2500\n  const backfillAction = body.action || body.sub_action || '';\n  if (backfillAction === 'backfill') {\n    const entries = body.entries || [];\n    if (entries.length === 0) return [{ json: { status: 'error', cmd: 'library', message: 'No entries provided. Send entries: [{ artifact_id, shipped_date }]' } }];\n    const results = [];\n    for (const entry of entries) {\n      const aid = entry.artifact_id;\n      const shipDate = entry.shipped_date;\n      if (!aid || !shipDate) { results.push({ artifact_id: aid || '?', status: 'skipped', reason: 'missing artifact_id or shipped_date' }); continue; }\n      const a = state.artifacts_status[aid];\n      if (!a) { results.push({ artifact_id: aid, status: 'skipped', reason: 'not found in state' }); continue; }\n      if (!a.shipped_dates) a.shipped_dates = [];\n      if (!a.shipped_dates.includes(shipDate)) a.shipped_dates.push(shipDate);\n      a.shipped_dates.sort();\n      if (a.status !== 'shipped') { a.status = 'shipped'; a.last_touched = shipDate; }\n      // Write xp_ledger entry so streak tracker picks up the backfilled date\n      if (!state.xp_ledger) state.xp_ledger = [];\n      const artInfo = buildArtLookup(epics)[aid] || {};\n      const artXP = artInfo.xp || 0;\n      const alreadyInLedger = state.xp_ledger.some(e => e.artifact_id === aid && e.date === shipDate);\n      if (!alreadyInLedger) {\n        state.xp_ledger.push({ date: shipDate, artifact_id: aid, epic_id: a.epic_id, xp: artXP, note: 'Backfill: ' + (artInfo.title || aid) });\n      }\n      results.push({ artifact_id: aid, status: 'ok', shipped_date: shipDate });\n    }\n    writeKV('pql:state:state_json', state);\n    return [{ json: { status: 'ok', cmd: 'library', mode: 'backfill_applied', applied: results.filter(r => r.status === 'ok').length, skipped: results.filter(r => r.status === 'skipped').length, results } }];\n  }\n\n  // If epic_id is provided, return expanded detail view\n  const reqEpic = body.epic_id || '';\n  if (reqEpic) {\n    const folder = folders.find(f => f.epic_id === reqEpic);\n    if (!folder) return [{ json: { status: 'error', cmd: 'library', message: 'Epic not found: ' + reqEpic } }];\n    return [{ json: {\n      status: 'ok',\n      cmd: 'library',\n      mode: 'detail',\n      folder\n    } }];\n  }\n\n  return [{ json: {\n    status: 'ok',\n    cmd: 'library',\n    mode: 'overview',\n    total_epics: totalEpics,\n    active_epics: activeCount,\n    parked_epics: parkedCount,\n    total_earned_xp: totalEarned,\n    total_possible_xp: totalPossible,\n    folders\n  } }];\n}\n\n// /debug\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nfunction handleDebug() {\n  const keys = listKVKeys();\n  let bc = 0;\n  if (fs.existsSync(BACKUP_DIR)) bc = fs.readdirSync(BACKUP_DIR).filter(f => !f.startsWith('.')).length;\n  const probe = {};\n  for (const p of ['/home/node/.n8n', '/root/.n8n', '/data', '/tmp', PQL_DIR]) {\n    try { probe[p] = { exists: fs.existsSync(p), writable: false };\n      if (probe[p].exists) { const tf = pathMod.join(p, '_pql_test_' + Date.now()); fs.writeFileSync(tf, 'ok'); fs.unlinkSync(tf); probe[p].writable = true; }\n    } catch { probe[p] = { exists: probe[p]?.exists || false, writable: false }; }\n  }\n  return [{ json: { status: 'ok', cmd: 'debug', key_count: keys.length, keys, backup_count: bc, storage_path: PQL_DIR, path_probe: probe } }];\n}\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// MARKDOWN FORMATTER\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\nfunction fmt(cmd, d) {\n  const hr = '---';\n  const artLine = (a) => `  - **${a.artifact_id || ''}** ${a.title || ''} (${a.type || '?'}, ${a.xp || 0} XP) [${a.status || ''}]`;\n  const paceEmoji = { ahead: '\\u{1F7E2} AHEAD', on_track: '\\u{1F535} ON TRACK', lagging: '\\u{1F534} LAGGING', no_baseline: '\\u26AA NO BASELINE' };\n\n  try {\n  if (d.status === 'error') return `## \\u274C Error\\n\\n${d.message || 'Unknown error'}\\n`;\n\n  if (cmd === 'init') {\n    if (d.result === 'initialized') return `## \\u2705 System Initialized\\n\\nEmpty portfolio created. Storage: \\`${d.storage_path || ''}\\`\\n\\nRun **/sync** to brain dump your first tasks, or **/seed** for sample data.\\n`;\n    return `## \\u2705 Already Initialized\\n\\n${d.message || ''}\\n\\nStorage: \\`${d.storage_path || ''}\\`\\n`;\n  }\n\n  if (cmd === 'seed') return `## \\u{1F331} System Seeded\\n\\n**${d.epics_count || 0}** epics | **${d.artifacts_count || 0}** artifacts | Week ${d.week || ''}\\n\\nRun **/start** to begin your weekly plan.\\n`;\n\n  if (cmd === 'start' && d.phase === 'review') {\n    let md = `## \\u{1F4CB} Portfolio Review \\u2014 ${d.date || ''} (${d.week_id || ''})\\n\\n`;\n    if (d.brain_dump_captured) md += `> \\u270F\\uFE0F Brain dump captured\\n\\n`;\n    if (d.aging_count > 0) {\n      md += `### \\u26A0\\uFE0F Aging Artifacts (${d.aging_count})\\n\\n`;\n      for (const a of (d.aging_artifacts || [])) md += `  - **${a.artifact_id}** ${a.title} \\u2014 ${a.aging_reason === 'not_touched_5d' ? '5 days stale' : 'Ping overdue!'}\\n`;\n      md += '\\n';\n    }\n    md += `### Epics\\n\\n`;\n    for (const e of (d.epics || [])) {\n      md += `**${e.epic_id}** \\u2014 ${e.title} [${e.status}]\\n`;\n      for (const a of (e.artifacts || [])) md += `  - ${a.artifact_id} ${a.title} [${a.status}]\\n`;\n      md += '\\n';\n    }\n    if ((d.artifacts_with_dependencies || []).length > 0) {\n      md += `### \\u{1F517} Dependencies (${d.artifacts_with_dependencies.length})\\n\\n`;\n      for (const a of d.artifacts_with_dependencies) md += `  - **${a.artifact_id}** ${a.title} \\u2014 waiting: ${a.dependency?.waiting_on || '?'}, ping: ${a.dependency?.ping_date || '?'}\\n`;\n      md += '\\n';\n    }\n    if (d.overdue_ops_count > 0) {\n      md += `### \\u{1F534} Overdue Ops Pings (${d.overdue_ops_count})\\n\\n`;\n      for (const o of (d.overdue_ops_pings || [])) md += `  - **${o.id}** ${o.text} \\u2014 waiting: ${o.waiting_on || '?'}, due: ${o.ping_date}\\n`;\n      md += '\\n';\n    }\n    md += `${hr}\\n\\n**Next:** Send \\`{ cmd: \"start\", phase: \"plan\", shipped: [...], committed: [...], stretch: [...], parked: [...], quests: [...] }\\`\\n`;\n    return md;\n  }\n\n  if (cmd === 'start' && d.phase === 'plan_saved') {\n    let md = `## \\u2705 Weekly Plan Set \\u2014 ${d.date || ''} (${d.week_id || ''})\\n\\n`;\n    if (d.xp_earned > 0) md += `**Ships XP:** +${d.xp_earned} XP\\n\\n`;\n    if ((d.epic_bonuses || []).length > 0) {\n      md += `### \\u2605 EPIC COMPLETE! \\u2605\\n\\n`;\n      for (const b of d.epic_bonuses) md += `  - **${b.epic_title}** \\u2014 +${b.bonus_xp} XP bonus\\n`;\n      md += '\\n';\n    }\n    if ((d.quests || []).length > 0) {\n      md += `### Quests\\n\\n`;\n      for (const q of d.quests) md += `  - **${q.quest_id}** \\u2192 Epic ${q.epic_id}, Friday finish line: ${q.friday_finishline_artifact_id}\\n`;\n      md += '\\n';\n    }\n    if ((d.moves || []).length > 0) {\n      md += `### 3 Moves\\n\\n`;\n      for (const m of d.moves) md += `  - **${m.move_id}:** ${m.description}\\n`;\n      md += '\\n';\n    }\n    const sections = [['Committed', d.committed_artifacts], ['Stretch', d.stretch_artifacts], ['Parked', d.parked_artifacts]];\n    for (const [label, items] of sections) {\n      if (items && items.length > 0) md += `**${label}:** ${items.join(', ')}\\n\\n`;\n    }\n    if ((d.pings_due || []).length > 0) {\n      md += `### \\u{1F4CC} Pings Due\\n\\n`;\n      for (const p of d.pings_due) md += `  - **${p.artifact_id}** \\u2192 ${p.waiting_on} (by ${p.ping_date})\\n`;\n      md += '\\n';\n    }\n    return md;\n  }\n\n  if (cmd === 'sync' && d.phase === 'ai_classified') {\n    const s = d.summary || {};\n    let md = `## \\u{1F916} Sync \\u2014 AI Classification\\n\\n`;\n    md += `**${s.total_items || 0}** items classified: Ops ${s.ops_admin || 0} | Mastery ${s.mastery || 0} | Portfolio ${(s.portfolio_existing||0)+(s.portfolio_new_artifact||0)+(s.portfolio_new_epic||0)}`;\n    if (s.clusters_found) md += ` | Clusters ${s.clusters_found}`;\n    md += '\\n\\n';\n    if ((d.ops_admin_items || []).length > 0) {\n      md += `### Ops/Admin\\n\\n`;\n      for (const i of d.ops_admin_items) md += `  - ${i.text}\\n`;\n      md += '\\n';\n    }\n    if ((d.mastery_items || []).length > 0) {\n      md += `### Mastery\\n\\n`;\n      for (const i of d.mastery_items) md += `  - ${i.text}\\n`;\n      md += '\\n';\n    }\n    if ((d.portfolio_mapped || []).length > 0) {\n      md += `### Mapped to Existing\\n\\n`;\n      for (const i of d.portfolio_mapped) md += `  - ${i.text} \\u2192 ${i.artifact_id}\\n`;\n      md += '\\n';\n    }\n    if ((d.cluster_confirmations || []).length > 0) {\n      md += `### Clusters Needing Confirmation\\n\\n`;\n      for (const cl of d.cluster_confirmations) {\n        md += `**${cl.suggested_epic_title}** (${cl.action === 'new_epic' ? 'NEW EPIC' : 'existing'}, ${cl.total_xp} XP)\\n`;\n        for (const it of (cl.items || [])) md += `  - ${it.suggested_title} (${it.suggested_type}, ${it.suggested_xp} XP)\\n`;\n        md += '\\n';\n      }\n    }\n    if ((d.pending_confirmations || []).length > 0) {\n      md += `### Items Needing Confirmation\\n\\n`;\n      for (const pc of d.pending_confirmations) md += `  - ${pc.text} \\u2014 ${pc.suggestion}\\n`;\n      md += '\\n';\n    }\n    return md;\n  }\n\n  if (cmd === 'sync' && d.phase === 'mappings_applied') {\n    let md = `## \\u2705 Mappings Applied\\n\\n`;\n    for (const r of (d.results || [])) {\n      const icon = r.action === 'epic_created' ? '\\u{1F195} Epic' : r.action === 'artifact_created' ? '\\u2795 Artifact' : '\\u{1F517} Mapped';\n      md += `  - ${icon}: **${r.artifact_id || ''}** ${r.title || r.text || ''} (${r.type || ''}, ${r.xp || 0} XP)\\n`;\n    }\n    md += `\\n**${d.total_epics || 0}** epics | **${d.total_artifacts || 0}** artifacts\\n`;\n    return md;\n  }\n\n  if (cmd === 'sync' && d.message) {\n    return `## \\u{1F504} Sync\\n\\n${d.message}\\n`;\n  }\n\n  if (cmd === 'week') {\n    if (d.empty) {\n      let md = `## \\u{1F4C5} Week ${d.week_id || ''} \\u2014 No Plan Yet\\n\\n`;\n      md += `**${d.open_count || 0}** open artifacts. Run **/start** to set your weekly plan.\\n\\n`;\n      if ((d.open_artifacts || []).length > 0) {\n        md += `### Open Artifacts\\n\\n`;\n        for (const a of d.open_artifacts) md += artLine(a) + '\\n';\n        md += '\\n';\n      }\n      return md;\n    }\n    let md = `## \\u{1F4C5} Week ${d.week_id || ''}\\n\\n`;\n    if (d.pace) {\n      const p = d.pace;\n      md += `**Pace:** ${paceEmoji[p.pace] || p.pace} \\u2014 ${p.this_week_xp} XP this week (baseline ${p.baseline_xp}, range ${p.min_threshold}\\u2013${p.ahead_threshold}) | Ship days: ${p.ship_days}/${p.ship_day_target}\\n\\n`;\n    }\n    if ((d.quests || []).length > 0) {\n      md += `### Quests\\n\\n`;\n      for (const q of d.quests) md += `  - **${q.quest_id}** \\u2192 Epic ${q.epic_id}, Friday: ${q.friday_finishline_artifact_id}\\n`;\n      md += '\\n';\n    }\n    if ((d.moves || []).length > 0) {\n      md += `### 3 Moves\\n\\n`;\n      for (const m of d.moves) md += `  - **${m.move_id}:** ${m.description}\\n`;\n      md += '\\n';\n    }\n    const enriched = [['Committed', d.committed], ['Stretch', d.stretch], ['Parked', d.parked]];\n    for (const [label, items] of enriched) {\n      if (items && items.length > 0) {\n        md += `### ${label} (${items.length})\\n\\n`;\n        for (const a of items) md += artLine(a) + '\\n';\n        md += '\\n';\n      }\n    }\n    if ((d.unplanned || []).length > 0) {\n      md += `### \\u{1F4E5} Unplanned (${d.unplanned_count || d.unplanned.length})\\n\\n`;\n      for (const a of d.unplanned) md += artLine(a) + '\\n';\n      md += '\\n';\n    }\n    if ((d.pings_due || []).length > 0) {\n      md += `### \\u{1F4CC} Pings Due\\n\\n`;\n      for (const p of d.pings_due) md += `  - **${p.artifact_id}** \\u2192 ${p.waiting_on || '?'} (by ${p.ping_date || '?'})\\n`;\n      md += '\\n';\n    }\n    return md;\n  }\n\n  if (cmd === 'status') {\n    let md = `## \\u{1F4CA} ${d.title || 'Weekly Portfolio Pulse'}\\n\\n**${d.date || ''}** | ${d.week_id || ''}\\n\\n`;\n    if (d.pace) {\n      const p = d.pace;\n      md += `**Pace:** ${paceEmoji[p.pace] || p.pace} \\u2014 ${p.this_week_xp} XP (baseline ${p.baseline_xp}) | Ship days: ${p.ship_days}/${p.ship_day_target}\\n\\n`;\n    }\n    if (d.xp_earned_last_week > 0) md += `**Last Week XP:** ${d.xp_earned_last_week}\\n\\n`;\n    if ((d.active_epics || []).length > 0) {\n      md += `### Active Epics\\n\\n`;\n      for (const e of d.active_epics) md += `  - **${e.epic_id}** ${e.title} \\u2014 ${e.progress}\\n`;\n      md += '\\n';\n    }\n    if ((d.shipped_last_week || []).length > 0) {\n      md += `### Shipped Last Week\\n\\n`;\n      for (const s of d.shipped_last_week) md += `  - **${s.artifact_id}** ${s.title} \\u2014 +${s.xp} XP\\n`;\n      md += '\\n';\n    }\n    if ((d.committed_artifacts_ryg || []).length > 0) {\n      md += `### RYG Status\\n\\n`;\n      const rygIcon = { green: '\\u{1F7E2}', yellow: '\\u{1F7E1}', red: '\\u{1F534}' };\n      for (const a of d.committed_artifacts_ryg) md += `  - ${rygIcon[a.ryg] || '\\u26AA'} **${a.artifact_id}** ${a.title} \\u2014 ${a.mitigation || ''}\\n`;\n      md += '\\n';\n    }\n    if ((d.dependencies || []).length > 0) {\n      md += `### Dependencies\\n\\n`;\n      for (const dep of d.dependencies) md += `  - **${dep.artifact_id}** ${dep.title} \\u2014 waiting: ${dep.waiting_on || '?'}, ping: ${dep.ping_date || '?'}\\n`;\n      md += '\\n';\n    }\n    if ((d.quests || []).length > 0) {\n      md += `### Quests\\n\\n`;\n      for (const q of d.quests) md += `  - **${q.quest_id}** \\u2192 Epic ${q.epic_id}, Friday: ${q.friday_finishline_artifact_id}\\n`;\n      md += '\\n';\n    }\n    if ((d.moves || []).length > 0) {\n      md += `### 3 Moves\\n\\n`;\n      for (const m of d.moves) md += `  - **${m.move_id}:** ${m.description}\\n`;\n      md += '\\n';\n    }\n    if ((d.parked || []).length > 0) {\n      md += `### Parked\\n\\n`;\n      for (const a of d.parked) md += `  - **${a.artifact_id}** ${a.title}\\n`;\n      md += '\\n';\n    }\n    const opsSm = d.ops_summary || {};\n    const mastSm = d.mastery_summary || {};\n    if (opsSm.open_count > 0 || opsSm.done_this_week_count > 0) {\n      md += `### Ops/Admin\\n\\n`;\n      if (opsSm.done_this_week_count > 0) md += `**Done this week:** ${opsSm.done_this_week_count} tasks\\n\\n`;\n      if (opsSm.open_count > 0) {\n        md += `**Open:** ${opsSm.open_count} tasks\\n\\n`;\n        for (const o of (opsSm.open || [])) md += `  - ${o.id} ${o.text}\\n`;\n        md += '\\n';\n      }\n    }\n    if (mastSm.open_count > 0 || mastSm.done_this_week_count > 0) {\n      md += `### Mastery\\n\\n`;\n      if (mastSm.done_this_week_count > 0) md += `**Done this week:** ${mastSm.done_this_week_count} items\\n\\n`;\n      if (mastSm.open_count > 0) {\n        md += `**Open:** ${mastSm.open_count} items\\n\\n`;\n        for (const m of (mastSm.open || [])) md += `  - ${m.id} ${m.text}\\n`;\n        md += '\\n';\n      }\n    }\n    return md;\n  }\n\n  if (cmd === 'wrapup' && d.mode === 'select') {\n    let md = `## \\u{1F6A2} Wrapup \\u2014 Select Ships\\n\\n**${d.active_count || 0}** active artifacts. Send \\`{ cmd: \"wrapup\", shipped: [\"EPIC-001-A1\", ...] }\\`\\n\\n`;\n    for (const a of (d.active_artifacts || [])) md += artLine(a) + '\\n';\n    return md;\n  }\n\n  if (cmd === 'wrapup' && d.mode === 'completed') {\n    let md = `## \\u2705 Day Complete \\u2014 ${d.date || ''}\\n\\n`;\n    const shipped = (d.ships || []).filter(s => s.action === 'shipped' || s.action === 'epic_bonus');\n    if (shipped.length > 0) {\n      md += `### Shipped Today\\n\\n`;\n      for (const s of shipped) {\n        if (s.action === 'epic_bonus') md += `  - \\u2605 **${s.artifact_id}** ${s.title || ''} \\u2014 +${s.xp} XP (EPIC BONUS!)\\n`;\n        else md += `  - **${s.artifact_id}** ${s.title || ''} (${s.type || ''}) \\u2014 +${s.xp} XP\\n`;\n      }\n      md += '\\n';\n    }\n    md += `**Today:** +${d.xp_earned_today || 0} XP | **Total:** ${d.xp_total || 0} XP\\n\\n`;\n    if ((d.epic_bonuses || []).length > 0) {\n      md += `### \\u2605 EPIC COMPLETE! \\u2605\\n\\n`;\n      for (const b of d.epic_bonuses) md += `  - **${b.epic_title}** \\u2014 +${b.bonus_xp} XP bonus\\n`;\n      md += '\\n';\n    }\n    if (d.pace) {\n      const p = d.pace;\n      md += `**Pace:** ${paceEmoji[p.pace] || p.pace} \\u2014 ${p.this_week_xp} XP (baseline ${p.baseline_xp}) | Ship days: ${p.ship_days}/${p.ship_day_target}\\n\\n`;\n    }\n    if ((d.remaining_open || []).length > 0) {\n      md += `### Carry Forward (${d.remaining_count || 0})\\n\\n`;\n      for (const r of d.remaining_open) md += `  - **${r.artifact_id}** ${r.title || ''} [${r.status}]\\n`;\n      md += '\\n';\n    }\n    if ((d.open_dependencies || []).length > 0) {\n      md += `### Open Dependencies\\n\\n`;\n      for (const dep of d.open_dependencies) md += `  - **${dep.artifact_id}** \\u2192 ${dep.waiting_on || '?'} (ping: ${dep.ping_date || '?'})\\n`;\n      md += '\\n';\n    }\n    return md;\n  }\n\n  if (cmd === 'edit' && d.mode === 'select') {\n    let md = `## \\u270F\\uFE0F Edit Epics & Artifacts\\n\\nSend \\`{ cmd:\"edit\", epic_id:\"EPIC-001\", new_title:\"New Name\" }\\` or \\`{ cmd:\"edit\", artifact_id:\"EPIC-001-A1\", new_artifact_title:\"New Name\" }\\`\\n\\n`;\n    for (const e of (d.epics || [])) {\n      md += `**${e.epic_id}** \\u2014 ${e.title} [${e.status}]\\n`;\n      for (const a of (e.artifacts || [])) md += `  - ${a.artifact_id} ${a.title} (${a.type}, ${a.xp} XP) [${a.status}]\\n`;\n      md += '\\n';\n    }\n    return md;\n  }\n\n  if (cmd === 'edit' && d.mode === 'applied') {\n    let md = `## \\u2705 Rename Applied\\n\\n`;\n    for (const c of (d.changes || [])) {\n      md += `  - **${c.epic_id || c.artifact_id}:** ~~${c.old_title}~~ \\u2192 **${c.new_title}**\\n`;\n    }\n    return md;\n  }\n\n  if (cmd === 'edit' && d.mode === 'deleted_epic') {\n    return `## \\u{1F5D1}\\uFE0F Epic Deleted\\n\\n**${d.epic_id}** ${d.title} (${d.artifacts_removed} artifacts removed)\\n`;\n  }\n\n  if (cmd === 'edit' && d.mode === 'resized_artifact') {\n    return `## \\u2705 Artifact Resized\\n\\n**${d.artifact_id}** ${d.title}\\n${d.old_type} (${d.old_xp} XP) \\u2192 **${d.new_type}** (${d.new_xp} XP)\\n`;\n  }\n\n  if (cmd === 'edit' && d.mode === 'parked_artifact') {\n    let md = `## \\u{1F17F}\\uFE0F Artifact Parked\\n\\n**${d.artifact_id}** ${d.title}`;\n    if (d.waiting_on) md += `\\nWaiting on: **${d.waiting_on}**`;\n    else md += ` (was ${d.old_status})`;\n    return md + '\\n';\n  }\n\n  if (cmd === 'edit' && d.mode === 'unparked_artifact') {\n    return `## \\u2705 Artifact Unparked\\n\\n**${d.artifact_id}** ${d.title} (now open)\\n`;\n  }\n\n  if (cmd === 'edit' && d.mode === 'parked_epic') {\n    let md = `## \\u{1F17F}\\uFE0F Epic Parked\\n\\n**${d.epic_id}** ${d.title} (was ${d.old_status || 'active'})\\n`;\n    if ((d.parked_artifacts || []).length > 0) {\n      md += `\\n**Artifacts parked (${d.parked_artifacts.length}):**\\n`;\n      for (const a of d.parked_artifacts) md += `  - **${a.artifact_id}** ${a.title}\\n`;\n    }\n    return md;\n  }\n\n  if (cmd === 'edit' && d.mode === 'unparked_epic') {\n    let md = `## \\u2705 Epic Unparked\\n\\n**${d.epic_id}** ${d.title} (now active)\\n`;\n    if ((d.unparked_artifacts || []).length > 0) {\n      md += `\\n**Artifacts reactivated (${d.unparked_artifacts.length}):**\\n`;\n      for (const a of d.unparked_artifacts) md += `  - **${a.artifact_id}** ${a.title}\\n`;\n    }\n    return md;\n  }\n\n    if (cmd === 'edit' && d.mode === 'resolve_waiting') {\n    let md = `## \\u2705 Waiting Item Resolved\\n\\n**Resolved:** ${d.waiting_on}\\n\\n`;\n    if ((d.unparked || []).length > 0) {\n      md += `**Unparked artifacts:**\\n`;\n      for (const u of d.unparked) md += `  - **${u.artifact_id}** ${u.title}\\n`;\n    } else {\n      md += `No parked artifacts were waiting on this item.\\n`;\n    }\n    return md;\n  }\n\n  if (cmd === 'edit' && d.mode === 'deleted_artifact') {\n    return `## \\u{1F5D1}\\uFE0F Artifact Deleted\\n\\n**${d.artifact_id}** ${d.title} (from ${d.epic_id})\\n`;\n  }\n\n  if (cmd === 'edit' && (d.mode === 'reordered_artifacts' || d.mode === 'reordered_epics' || d.mode === 'reordered_all')) {\n    return `## \\u2705 Order Saved\\n\\n${d.message || ''}\\n`;\n  }\n\n  if (cmd === 'ops' && d.mode === 'pings') {\n    if (d.total_overdue === 0) return `## \\u2705 No Overdue Pings\\n\\nAll clear for ${d.date || 'today'}.\\n`;\n    let md = `## \\u{1F534} Overdue Pings \\u2014 ${d.date || ''}\\n\\n`;\n    if (d.ops_overdue_count > 0) {\n      md += `### Ops Tasks (${d.ops_overdue_count})\\n\\n`;\n      for (const o of (d.ops_overdue || [])) md += `  - **${o.id}** ${o.text} \\u2014 waiting: ${o.waiting_on || '?'}, due: ${o.ping_date}\\n`;\n      md += '\\n';\n    }\n    if (d.artifact_overdue_count > 0) {\n      md += `### Artifact Dependencies (${d.artifact_overdue_count})\\n\\n`;\n      for (const a of (d.artifact_overdue || [])) md += `  - **${a.artifact_id}** ${a.title} \\u2014 waiting: ${a.waiting_on || '?'}, due: ${a.ping_date}\\n`;\n      md += '\\n';\n    }\n    return md;\n  }\n\n  if (cmd === 'ops' && d.mode === 'view') {\n    let md = `## \\u{1F527} Ops & Mastery Log \\u2014 ${d.date || ''}\\n\\n`;\n    const ops = d.ops || {};\n    const mast = d.mastery || {};\n    if (ops.overdue_count > 0) {\n      md += `### \\u{1F534} OVERDUE PINGS (${ops.overdue_count})\\n\\n`;\n      for (const o of (ops.overdue || [])) md += `  - **${o.id}** ${o.text} \\u2014 waiting: ${o.waiting_on || '?'}, due: ${o.ping_date}\\n`;\n      md += '\\n';\n    }\n    if (ops.waiting_count > 0) {\n      md += `### \\u23F3 Waiting For (${ops.waiting_count})\\n\\n`;\n      for (const o of (ops.waiting || [])) md += `  - **${o.id}** ${o.text} \\u2014 waiting: ${o.waiting_on || '?'}, ping: ${o.ping_date}\\n`;\n      md += '\\n';\n    }\n    if (ops.open_no_ping_count > 0) {\n      md += `### Open Ops Tasks (${ops.open_no_ping_count})\\n\\n`;\n      for (const o of (ops.open_no_ping || [])) md += `  - **${o.id}** ${o.text}${o.notes ? ' \\u2014 _' + o.notes + '_' : ''}\\n`;\n      md += '\\n';\n    }\n    if (ops.open_count === 0) md += `### Ops Tasks\\n\\nNo open ops tasks.\\n\\n`;\n    if (ops.done_this_week_count > 0) {\n      md += `### \\u2705 Ops Done This Week (${ops.done_this_week_count})\\n\\n`;\n      for (const o of (ops.done_this_week || [])) md += `  - ~~${o.id}~~ ${o.text} \\u2014 done ${o.completed_at || ''}\\n`;\n      md += '\\n';\n    }\n    md += `**Ops total:** ${ops.total_done || 0} done / ${ops.total || 0} all time\\n\\n`;\n    if (mast.open_count > 0) {\n      md += `### Open Mastery Tasks (${mast.open_count})\\n\\n`;\n      for (const m of (mast.open || [])) md += `  - **${m.id}** ${m.text}\\n`;\n      md += '\\n';\n    }\n    if (mast.done_this_week_count > 0) {\n      md += `### \\u2705 Mastery Done This Week (${mast.done_this_week_count})\\n\\n`;\n      for (const m of (mast.done_this_week || [])) md += `  - ~~${m.id}~~ ${m.text} \\u2014 done ${m.completed_at || ''}\\n`;\n      md += '\\n';\n    }\n    md += `**Mastery total:** ${mast.total_done || 0} done / ${mast.total || 0} all time\\n`;\n    return md;\n  }\n\n  if (cmd === 'ops' && d.mode === 'ping_set') {\n    return `## \\u2705 Ping Set\\n\\n  - **${d.item?.id || ''}** ${d.item?.text || ''}\\n  - Waiting on: **${d.item?.waiting_on || '?'}**\\n  - Ping date: **${d.item?.ping_date || '?'}**\\n`;\n  }\n\n  if (cmd === 'ops' && d.mode === 'added') {\n    return `## \\u2705 Ops Task Added\\n\\n  - **${d.item?.id || ''}** ${d.item?.text || ''}\\n\\n**${d.open_count || 0}** open ops tasks.\\n`;\n  }\n\n  if (cmd === 'ops' && d.mode === 'completed') {\n    let md = `## \\u2705 Ops Tasks Completed\\n\\n`;\n    for (const r of (d.results || [])) md += `  - **${r.id}** ${r.text || ''} \\u2014 ${r.action}\\n`;\n    md += `\\n**${d.open_count || 0}** open ops tasks remaining.\\n`;\n    return md;\n  }\n\n  if (cmd === 'ops' && d.mode === 'mastery_added') {\n    return `## \\u2705 Mastery Task Added\\n\\n  - **${d.item?.id || ''}** ${d.item?.text || ''}\\n\\n**${d.open_count || 0}** open mastery tasks.\\n`;\n  }\n\n  if (cmd === 'ops' && d.mode === 'mastery_completed') {\n    let md = `## \\u2705 Mastery Tasks Completed\\n\\n`;\n    for (const r of (d.results || [])) md += `  - **${r.id}** ${r.text || ''} \\u2014 ${r.action}\\n`;\n    md += `\\n**${d.open_count || 0}** open mastery tasks remaining.\\n`;\n    return md;\n  }\n\n  if (cmd === 'swap' && d.mode === 'select') {\n    let md = `## \\u{1F504} Swap Rule\\n\\n${d.message || ''}\\n\\n### Current Moves\\n\\n`;\n    for (const m of (d.current_moves || [])) {\n      md += `  - **${m.move_id}:** ${m.description}\\n`;\n      for (const a of (m.linked_artifacts || [])) md += `    - ${a.artifact_id} ${a.title} (${a.xp} XP)\\n`;\n    }\n    md += `\\n### Available Artifacts (${d.available_count || 0})\\n\\n`;\n    for (const a of (d.available_artifacts || [])) md += `  - **${a.artifact_id}** ${a.title} (${a.type}, ${a.xp} XP) [${a.status}] \\u2014 ${a.epic_title || a.epic_id}\\n`;\n    md += `\\nSend \\`{ cmd:\"swap\", remove_move_id:\"M3\", new_artifact_id:\"EPIC-002-A1\" }\\`\\n`;\n    return md;\n  }\n\n  if (cmd === 'swap' && d.mode === 'completed') {\n    let md = `## \\u2705 Swap Executed\\n\\n`;\n    md += `**Removed:** ${d.old_move?.description || '?'}\\n\\n`;\n    md += `**Swapped In:** ${d.new_move?.description || '?'} (${d.new_move?.xp || 0} XP)\\n\\n`;\n    if ((d.parked_artifacts || []).length > 0) md += `**Parked:** ${d.parked_artifacts.map(a => a.title).join(', ')}\\n\\n`;\n    md += `${d.message || ''}\\n`;\n    return md;\n  }\n\n  if (cmd === \"files\" && d.mode === \"list\") {\n    let md = \"## \\ud83d\\udcc1 Files \\u2014 `\" + (d.storage_path || \"\") + \"`\\n\\n\";\n    for (const e of (d.entries || [])) {\n      const depth = (e.path.match(/\\//g) || []).length;\n      const pad = \"  \".repeat(depth);\n      if (e.type === \"dir\") md += pad + \"\\ud83d\\udcc1 **\" + e.name + \"/**\\n\";\n      else md += pad + \"\\ud83d\\udcc4 `\" + e.name + \"` (\" + (e.size || 0) + \" bytes)\\n\";\n    }\n    return md;\n  }\n\n  if (cmd === \"files\" && d.mode === \"read\") {\n    let md = \"## \\ud83d\\udcc4 \" + (d.path || \"\") + \"\\n\\n\";\n    md += \"**Size:** \" + (d.size || 0) + \" bytes | **Modified:** \" + (d.modified || \"\") + \"\\n\\n\";\n    md += \"```\" + (d.is_json ? \"json\" : \"\") + \"\\n\" + (d.content || \"\") + \"\\n```\\n\";\n    return md;\n  }\n\n  if (cmd === \"files\" && d.mode === \"written\") {\n    return \"## \\u2705 File Saved\\n\\n**\" + (d.path || \"\") + \"** \\u2014 \" + (d.size || 0) + \" bytes. \" + (d.message || \"\") + \"\\n\";\n  }\n\n  if (cmd === \"files\" && d.mode === \"deleted\") {\n    return \"## \\ud83d\\uddd1\\ufe0f File Deleted\\n\\n**\" + (d.path || \"\") + \"** \" + (d.message || \"\") + \"\\n\";\n  }\n\n  \n  if (cmd === 'library') {\n    const folders = d.folders || [];\n\n    // Detail mode: expanded single epic\n    if (d.mode === 'detail' && d.folder) {\n      const f = d.folder;\n      let md = `## \\ud83d\\udcc2 ${f.title}\\n\\n`;\n      md += `**${f.epic_id}** \\u00b7 ${f.status} \\u00b7 ${f.shipped}/${f.total} artifacts \\u00b7 ${f.earned_xp}/${f.total_xp} XP (${f.progress_pct}%)\\n\\n`;\n      for (const m of (f.milestones || [])) {\n        md += `### ${m.title} (${m.shipped}/${m.total})\\n\\n`;\n        for (const a of (m.artifacts || [])) {\n          const check = a.status === 'shipped' ? '\\u2705' : '\\u2b1c';\n          md += `${check} **${a.artifact_id}** ${a.title} (${a.type}, ${a.xp} XP)\\n`;\n        }\n        md += '\\n';\n      }\n      return md;\n    }\n\n    // Overview mode: stacked folders\n    let md = `## \\ud83d\\udcc2 Epic Library\\n\\n`;\n    md += `**${d.active_epics || 0}** active epics \\u00b7 **${d.total_earned_xp || 0}** / ${d.total_possible_xp || 0} XP earned\\n\\n`;\n    md += '```\\n';\n    const BAR_W = 14;\n    let maxW = 0;\n    for (const f of folders) {\n      const tag = f.status === 'active' ? '' : ` [${f.status}]`;\n      const tabLabel = ` ${f.title}${tag} `;\n      const bar = '\\u2588'.repeat(Math.round((f.progress_pct / 100) * BAR_W)) + '\\u2591'.repeat(BAR_W - Math.round((f.progress_pct / 100) * BAR_W));\n      const inner = `  ${bar}  ${f.shipped}/${f.total} \\u00b7 ${f.earned_xp} XP  ${f.progress_pct}%  `;\n      maxW = Math.max(maxW, inner.length, tabLabel.length + 6);\n    }\n    const bodyW = maxW;\n    for (let fi = 0; fi < folders.length; fi++) {\n      const f = folders[fi];\n      const tag = f.status === 'active' ? '' : ` [${f.status}]`;\n      const tabLabel = ` ${f.title}${tag} `;\n      const tabW = tabLabel.length;\n      const tabOff = Math.max(1, Math.floor((bodyW - tabW) / 2));\n      md += ' '.repeat(tabOff + 1) + '\\u250c' + '\\u2500'.repeat(tabW) + '\\u2510\\n';\n      md += ' '.repeat(tabOff + 1) + '\\u2502' + tabLabel + '\\u2502\\n';\n      md += '\\u250c' + '\\u2500'.repeat(tabOff) + '\\u2518' + ' '.repeat(tabW) + '\\u2514' + '\\u2500'.repeat(Math.max(0, bodyW - tabOff - tabW)) + '\\u2510\\n';\n      const filled = Math.round((f.progress_pct / 100) * BAR_W);\n      const bar = '\\u2588'.repeat(filled) + '\\u2591'.repeat(BAR_W - filled);\n      const innerContent = `  ${bar}  ${f.shipped}/${f.total} \\u00b7 ${f.earned_xp} XP  ${f.progress_pct}%`;\n      const innerPad = Math.max(0, bodyW - innerContent.length);\n      md += '\\u2502' + innerContent + ' '.repeat(innerPad) + '\\u2502\\n';\n      md += '\\u2514' + '\\u2500'.repeat(bodyW) + '\\u2518\\n';\n      if (fi < folders.length - 1) md += '\\n';\n    }\n    md += '```\\n';\n    return md;\n  }\n\nif (cmd === 'debug') {\n    let md = `## \\u{1F527} Debug\\n\\n**Storage:** \\`${d.storage_path || ''}\\` | **Keys:** ${d.key_count || 0} | **Backups:** ${d.backup_count || 0}\\n\\n`;\n    if (d.path_probe) {\n      md += `### Path Probe\\n\\n`;\n      for (const [path, info] of Object.entries(d.path_probe)) {\n        const st = info.exists && info.writable ? '\\u2705 RW' : info.exists ? '\\u26A0\\uFE0F RO' : '\\u274C N/A';\n        md += `  - ${st} \\`${path}\\`\\n`;\n      }\n      md += '\\n';\n    }\n    if ((d.keys || []).length > 0) {\n      md += `### Keys\\n\\n`;\n      for (const k of d.keys) md += `  - \\`${k}\\`\\n`;\n    }\n    return md;\n  }\n\n  return `## /${cmd}\\n\\n\\`\\`\\`json\\n${JSON.stringify(d, null, 2)}\\n\\`\\`\\`\\n`;\n  } catch(fmtErr) {\n    return `## /${cmd}\\n\\nFormat error: ${fmtErr.message}\\n\\n\\`\\`\\`json\\n${JSON.stringify(d, null, 2)}\\n\\`\\`\\`\\n`;\n  }\n}\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// ROUTER\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\ntry {\nlet result;\nswitch (cmd) {\n  case 'init':    result = handleInit(); break;\n  case 'seed':    result = handleSeed(); break;\n  case 'start':   result = handleStart(); break;\n  case 'sync':    result = handleSync(); break;\n  case 'week':    result = handleWeek(); break;\n  case 'status':  result = handleStatus(); break;\n  case 'wrapup':  result = handleWrapup(); break;\n  case 'edit':    result = handleEdit(); break;\n  case 'ops':     result = handleOps(); break;\n  case 'swap':    result = handleSwap(); break;\n  case 'files':   result = handleFiles(); break;\n  case 'library': result = handleLibrary(); break;\n  case 'debug':   result = handleDebug(); break;\n  default:        result = [{ json: { status: 'error', cmd, message: 'Unknown command. Valid: init seed start sync week status wrapup ops edit swap files library debug' } }]; break;\n}\nif (result && result[0] && result[0].json && result[0].json._route !== 'ai') {\n  result[0].json.markdown = fmt(cmd, result[0].json);\n}\nreturn result;\n} catch (err) {\n  const errData = { status: 'error', cmd, message: 'CRASH: ' + err.message, stack: (err.stack || '').split('\\n').slice(0, 5).join(' | '), storage_path: PQL_DIR };\n  errData.markdown = `## \\u274C Crash\\n\\n${err.message}\\n`;\n  return [{ json: errData }];\n}\n"
      },
      "id": "ff5fe86a-e641-48e9-a4c1-9130ccb71522",
      "name": "PQL Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16720,
        11456
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "portfolio-quest-league",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a0e0ddbe-03df-4974-9b07-a71a212f9115",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -16960,
        11456
      ],
      "webhookId": "pql-main-webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Qwen3 Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Classify",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Classify": {
      "main": [
        [
          {
            "node": "Sync Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route": {
      "main": [
        [
          {
            "node": "AI Classify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PQL Engine": {
      "main": [
        [
          {
            "node": "Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "PQL Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "606d4812-ef2b-414d-887d-8e8a5e8d428a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "814ce8cf5f46f64d4a3d61f081e4c6e96aa1187a9d9fec86648b350f18e7c7c2"
  },
  "id": "xQP7HmUyCxqcm1SAYoQwJ",
  "tags": []
}